.alignC{
  text-align: center;
}

/* 테이블형 리스트 */
.listTableType{
  .contentScroll{
    height: 759px !important;
  }
  .item{
    padding:0 20px;
  }
  .tr{
    display: table;
    width: 100%;
    text-align: center;
    >div{
      display: table-cell;
      padding: 0 8px;
      width: 64px;
      font-size: $_14px;
      letter-spacing: -0.1em;
      vertical-align: middle;
    }
    .name{
      padding-left:0;
      width:auto;
    }
    .birth{
      width:88px;
    }
    .date{
      width:88px;
    }
    .gender{
      width: 44px;
    }
    .old{
      width: 44px;
    }    
    .attend{
      width: 78px;
      padding-right:0;
    }
  }
  .theadBox{
    width:782px;
    border-radius: 8px;
    margin-bottom:10px;
    background:#fff;
    .th{
      padding-top:13px;
      padding-bottom:13px;
      color:$colorLevel2;
    }
  }
  .tbodyBox{
    width:782px;
    padding-top: 1px;
    border-radius: 8px;    
    background:#fff;
    margin-bottom: 15px;
    .item{
      position: relative;
      &:last-child{
        border-bottom: 0;
      }
      &:hover{
        z-index:5;
        .tr{
          border-bottom-color: transparent;
        }
      }
      &:hover::before{
        display: block;
        content: "";
        width: calc(100% - 4px);
        height: calc(100% - 2px);
        position: absolute;
        top: -1px;
        left: 0;
        border:2px solid #fe5855;
        border-radius: 8px;
        z-index: -1;        
        box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.12);
      }
    }
    .tr{      
      border-bottom:1px solid #ededf4;
    }
    .td{
      padding-top:13px;
      padding-bottom:13px;
      letter-spacing: -0.025em;
    }
    .name{
      text-align:left;
      a{
        font-size:$_18px;
        letter-spacing: -0.1em;
      }
    }
  }
  .customerAdd{
    padding:20px;
    width: 100%;
    text-align: center;
    .btnCustomerAdd{
      display: block;
      padding:28px 0 25px;
      font-size:$_20px;
      color:$colorLevel2;
      letter-spacing: -0.075em;
      border:1px solid #ededf4;
      text-align: center;
      background: #fff;
      border-radius: 10px;
      &:before{
        display: block;
        content:"";
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid #e0e4eb;
        margin: 0 auto 12px;
        background: url(/asset/images/common/icon_add.png) no-repeat center center;
      }
    }
  }
}

/* 가입현황 */
.customerStateInfo{
  position: relative;
  border-bottom:1px solid #cad2db;
  margin-bottom: 30px;
  width:782px;
  .inner{   
    padding:37px 0px 30px;
    overflow: hidden;
    >div{
      float: left;
      position: relative;
      &:after{
        display: block;
        content:"";
        width: 1px;
        height: 62px;
        background: #dfe3eb;
        position: absolute;
        top:0;
        right:0;
      }
    } 
    .customer{
      width:215px;
      font-size:$_22px;
      color:$colorLevel2;
      line-height: 30px;
      padding:0 20px;
      margin-top: -2px;
      strong{
        font-weight: 700;
      }
      &:after{
        display:none;
      }
    }
    .contract{
      width:95px;  
    }
    .payment{
      width:215px;
      padding:0 0 0 40px;
    }
    .state{
      padding:0 0 0 30px;
      &:after{
        display:none;
      }
      dd>span{
        margin-right:6px;
      }
      .shortage{
        color:#fd5854;
      }
      .enough{
        color:#01a7c4;
      }
    }
    dl{
      dt{
        font-size:$_14px;
        color:$colorLevel4;
        line-height: 1;
        margin: 6px 0 12px;
      }
      dd{
        color:$colorLevel2;
        strong{
          font-size:$_26px;
          font-weight: 700;
        }
      }
    } 
  }
  .notice{
    padding:0 20px 15px;
    position: relative;
    line-height: 1;
    color:$colorLevel2;
    font-size:$_16px;
    &::before{
      display: block;
      content: "";
      position: absolute;
      top: -15px;
      left: 20px;
      width: 36px;
      height: 3px;      
      border-radius: 3px;
      background: #01a7c4;
    }
    .btnText{
      background: #fff;
      margin-left: 15px;
      letter-spacing: -0.075em;
    }
  }
}
.insuranceListBox{
  .contentScroll{
    height: 756px !important;
  }
  &.consulting{
    .contentScroll{
      height: 713px !important;
    }
  }
  .noteBox{
    width: 782px;
    padding-bottom:30px;
  }
}
.insuranceList{
  margin-bottom: 30px;
  width:782px;
  .titBox{
    margin-bottom: 15px; 
    text-align: center;
    font-size:$_22px;
    color: $colorLevel1;
    .tit{
      display: inline-block;
      vertical-align: top;
    }
    .count{
      display: inline-block;
      padding:0 10px;
      height: 27px;
      line-height: 23px;
      border:1px solid #01a7c4;
      border-radius: 15px;
      font-size:$_16px;
      color:#01a7c4;
      vertical-align: top;
      margin-left:10px;
    }
  }
  &.checkList{
    .insurance{
      &:before{
        display: none;
      }
      &:after{
        display: block;
        content: "";
        position: absolute;
        top:0;
        left:0;
        width:41px;
        height: 41px;
        background: url(../images/common/checkbox02_off.png) no-repeat 0 0;
      }
      &.checked{
        &:before{
          display: block;
          content: "";
          width:calc(100% - 4px);
          height:calc(100% - 4px);          
          border:2px solid $colorButtonRed;
          border-radius: 8px;
          position: absolute;
          top:0;
          left:0;
          box-shadow:none;
        }
        &:after{
          background: url(../images/common/checkbox02_on.png) no-repeat 0 0;
        }
      }
    }
  }
  .btnContractAdd{
    width: 782px;
    height: 130px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding:28px 0 25px;
    font-size:$_20px;
    color:$colorLevel2;
    letter-spacing: -0.075em;
    border:1px solid #ededf4;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    &:before{
      display: block;
      content:"";
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 1px solid #e0e4eb;
      margin: 0 auto 12px;
      background: url(/asset/images/common/icon_add.png) no-repeat center center;
    }
  }
}
.insurance{
  width: 100%;
  height: 130px;   
  position: relative;
  margin-bottom:10px;
  display: table;
  &:hover:before{
    display: block;
    content: "";
    width:calc(100% - 4px);
    height:calc(100% - 4px);
    border:2px solid #fd5856;
    border-radius: 8px;
    position: absolute;
    top:0;
    left:0;
    box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.12);
  }
  &:after{
    @include clearline();
  }
  &:last-child{
    margin-bottom: 0;
  }
  .info{
    float: left;
    display: table;
    width:527px;
    height: 130px;
    padding:0px 30px 0;
    background:#fff;    
    border-radius: 8px 0 0 8px;
    .inner{
      display: table-cell;
      vertical-align: middle;
    }    
    .logo{
      display: block;
      height:34px;
      margin-bottom:5px;
      img{
        height: 100%;
      }
    }
    .name{
      font-size: $_20px;
      color:$colorLevel2;
      margin-bottom:6px;
    }
    .date{
      .state{
        display:inline-block;
        background:#ffeeed;
        padding:0 10px;
        height: 22px;
        line-height: 20px;
        text-align: center;
        color:#fd795c;
        font-size:$_14px;
        margin-right:10px;
        border-radius: 5px;
      }
    }
  }
  .payment{
    float: right;
    width:253px;
    height: 130px;
    padding:0px 30px 0;
    background:#fff;    
    border-radius: 0 8px 8px 0;
    display: table;
    ul{
      display: table-cell;
      vertical-align: middle;
    }
    li{
      display: table;
      width: 100%;
      line-height: 22px;      
      color:$colorLevel5;
      span{
        display: table-cell;
        font-size:$_14px;        
      }
      .th{
        width:70px;
        letter-spacing:-0.075em;
      }
      .td{
        text-align: right;
        letter-spacing:-0.025em;
      }
      &.top{
        color:$colorLevel2;
        .td{
          font-size:$_20px;
          strong{
            font-size:$_22px;
            font-weight: 700;
            letter-spacing:-0.075em;
          }
        }
      }
    }
  }
  &.disabled{
    .name{
      color:$colorLevel5;
    }
    .date{
      color:$colorLevel5;
      .state{
        background:#e7e7e7;
        color:$colorLevel5;
      }
    }
    .payment{
      li{
        &.top{
          color:$colorLevel5;
        }
      }
    }
  }
  &.noInsurance{
    display: table;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    >div{
      display: table-cell;
      vertical-align: middle;
      font-size:$_20px;
      color:$colorLevel2;
    }
  }  
}


/* 유의사항 */
.noteBox{
  padding:15px 0 0;
  border-top:1px solid #cad2db;
  dl{
    letter-spacing: -0.075em;
    dt{
      font-size:$_14px;
      color:$colorLevel2;
      margin-bottom:5px;
    }
    dd{
      font-size:$_14px;
      color:$colorLevel4;      
      line-height: 20px;
      margin-bottom:5px;
    }
  }
}

/* layerPopWrap */
.layerPopWrap{
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
  background: #fff;
  border-radius: 10px;
  .layerPopHeader{
    height:58px;
    padding-top:15px;
    border-bottom:1px solid $lineColor3;
    text-align: center;
    font-size: $_22px;
    color:$colorLevel1;
    .dot{
      vertical-align: top;
      display: inline-block;
      margin:-4px 4px 0;
    }
  }
  .layerPopContent{
    padding:0 40px 30px;
    .tableScroll{
      margin: 0 -15px 0 0;
    }
  }
  .btnClose{
    position: absolute;
    top:10px;
    right: 23px;
  } 
  .noteBox{
    border-top:none;
    padding-top:20px;
    dd{
      font-family: 'dotum';
      font-size: $_12px;
    }
  } 
  .btnArea{
    text-align: center;
  }
}
.popAlert{
  width: 380px;
  height: 255px;
  .centerBox{
    display: table;
    text-align: center;
    width: 100%;
    height: 127px;
    >div{
      display: table-cell;
      vertical-align: middle;
      font-size:$_20px;
      letter-spacing: -0.075em;
      color: $colorLevel2;
    }
    .inputSet{
      margin:0 5px;
      input{
        width: 100%;
        padding: 0 0 0 15px;
        background: transparent;
        line-height: 38px;
        height: 38px;
        outline: none;
      }
      &.placeholder {
        color: $colorLevel5;
      }
  
      &::placeholder {
        color: $colorLevel5;
      }
  
      &::-ms-input-placeholder {
        color: $colorLevel5;
      }
  
      &::-webkit-input-placeholder {
        color: $colorLevel5;
      }
  
      &::-moz-placeholder {
        color: $colorLevel5;
      }
    }
  }
}
.popInsuranceDetail{
  width:782px;
  .insuranceDetail{
    overflow: hidden;
    height: 200px;
    border-bottom: 1px solid $lineColor3;
    margin:0 -40px;
    .insuranceInfo{
      position: relative;
      float: left;
      width: 490px;
      height: 100%;
      padding:34px 30px 0 40px;
      border-right:1px solid $lineColor3;
      .logo{
        margin-bottom: 5px;
      }
      .tit{
        font-size:$_20px;
        color:#000;  
        margin-bottom:5px;      
      }
      .number{
        color:$colorLevel4;
        font-size:$_16px;
        margin-bottom:10px;
        line-height: 1;
        .tit{
          font-size:$_14px;
          color:$colorLevel2;
          margin-right:6px;
        }
      }
      .date{
        font-size:$_16px;
        color:$colorLevel4;
        .state{
          display: inline-block;
          background: #ffeeed;
          width: 47px;
          height: 22px;
          line-height: 20px;
          text-align: center;
          color: #fd795c;
          font-size: 0.875rem;
          margin-right: 10px;
          border-radius: 5px;
        }
      }
      .payment{
        position: absolute;
        bottom: 48px;
        right:30px;
        letter-spacing: -0.075em;        
        text-align: right;
        .tit{
          font-size:$_14px;
          color:$colorLevel5;
        }
        .price{
          font-weight: 500;
          font-size:$_20px;
          color:$colorLevel2;
          strong{
            font-weight: 500;
            font-size:$_22px;
          }
        }
      }
    }
    .paymentInfo{
      float: left;
      width: 292px;
      height: 100%;
      padding:22px 50px 0 30px;
      .countBarBox{
        padding-top:37px; 
        margin-bottom: 10px;
        .barRail{
          position: relative;
          background: #f0f3f8;
          border-radius:5px;
          .bar{
            height: 6px;
            background: #02a7c5;
            border-radius:5px;
            position: relative;
          }
          .percent{
            position: absolute;
            right: 0;
            bottom:17px;
            background: #02a7c5;
            color:#fff;
            font-weight: 500;
            border-radius: 15px;
            width:50px;
            height: 27px;
            margin-right: -25px;
            line-height: 27px;
            text-align: center;
            &:after{
              position: absolute;
              bottom: -4px;
              left:50%;
              margin-left:-4px;
              display: block;
              content:"";
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid #02a7c5;
            }
          }
        }
        .now{
          font-size: $_14px;
          color:#02a7c5;
        }
        .last{
          float: right;
          font-size: $_14px;
          color:$colorLevel4;
        }
      }
      >ul{
        margin-bottom:5px;
        li{          
          overflow: hidden;
          .tit{
            float: left;
            font-size:$_14px;
            color:$colorLevel5;
            letter-spacing: -0.075em;
          }
          .txt{
            float: right;
            font-size:$_16px;
            font-weight: 500;
            color:$colorLevel4;
            &.complete{
              color:$colorLevel2;
            }
            strong{
              font-weight: 500;
            }
          }
        }
      }
      .text{
        font-size: $_12px;
        font-family: 'dotum';
        color:$colorLevel4;
        letter-spacing:-0.06em;
      }
    }
  }
  .tabWrap{
    padding:30px 0px 0px;
    .tabList{    
      width:700px;
      margin:0 auto 20px;
    }
    .tabContent{
      display: none;
      width: 700px;
      &.on{
        display: block;
      }
    }
  }
  .basicType{
    width:700px;
  }
  .tableScroll{
    height: 370px;
    .basicType{
      thead{
        position: absolute;
        left:-9999px;
      }
    }
  }
}
.popSecuritySet{
  width:660px;
  .layerPopContent{
    padding:20px 40px 30px;
  }
  .tableScroll{
    height: 535px;
    .basicType{
      thead{
        position: absolute;
        left:-9999px;
      }
    }
  }
  .basicType{
    width:580px;
    th,td{
      vertical-align: middle;
    }
    th{
      .select{
        position: relative;
        &::after{
          display: inline-block;
          content: "";
          width:16px;
          height:12px;
          background: url(/asset/images/common/icon_checked.png) no-repeat 0 0;
          position: absolute;
          right:-20px;
          top:3px;
        }
      }
    }
    .checkBoxSet{
      line-height: 1;
    }
  }
  .btnArea{
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid $lineColor1
  }
}
.popConditionalContract{
  width:782px;
  .searchCondition{
    margin:0 -40px 30px;;
    padding:20px 25px;
    text-align: center;
    background: #f0f3f8;
    .sortingList{
      overflow: hidden;
      line-height: 1;
      margin-bottom:15px;
      li{
        display:inline-block;
        margin:0 12px;
        label{
          font-size: $_16px;
          color:$colorLevel2;
        }
      }
    }
    .date{
      font-size: $_16px;
      color:$colorLevel2;
    }
  }
  .insuranceList{
    margin-bottom:0;
    width:702px;
  }
  .insurance{
    border:1px solid $lineColor3;
    border-radius: 8px;
    height: 110px;
    margin-bottom:10px !important;
    &:hover::before{
      display: none;
    }
    .info{
      width:460px;
      height: 110px;
      border-right:1px solid $lineColor3;
      padding:0px 30px 0; 
    }
    .payment{
      width:240px;
      padding:0px 30px 0;
      height: 110px;
    }
  }
  .contractScroll{
    height: 515px;
    margin:0 -15px 0px 0;
  }
  .btnArea{  
    padding-top:20px;  
    border-top:1px solid #e0e4ea;
  }
}

/* tabWrap */
.tabWrap{
  .tabList{
    overflow: hidden;
    li{
      float: left;
      width:50%;
      .tab{
        display: block;
        background: #fafafa;
        color: $colorLevel2;
        font-size: $_16px;
        height:44px;
        line-height:44px;
        text-align: center;
        border:1px solid $lineColor3;
      }
      &.on .tab{
        background: #3c444d;
        color:#fff;
        border:1px solid #3c444d;
      }
    }
  }
}

/* basicType */
.basicType{
  thead{
    th{
      text-align: center;
      font-size: $_14px;
      padding:9px 10px;
      color:$colorLevel2;
      border-bottom:1px solid $lineColor1;
    }
  }
  tbody{
    th{
      padding:9px 10px;
      font-size: $_14px;
      color:$colorLevel4;
      letter-spacing: -0.05em;
      border-bottom:1px solid #ededf4;
      font-weight: 500;
    }
    td{
      padding:9px 10px;
      font-size: $_14px;
      color:$colorLevel4;
      letter-spacing: -0.05em;
      border-bottom:1px solid #ededf4;
    }
  }
}

/* btnCircle */
.btnCircle{
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-indent: -9999px;
  border:1px solid #eaeaea;
  >span{
    display: inline-block;    
  }
  &.on{
    border:none;
  }
  &.like{
    background: url(../images/common/icon_like_off.png) no-repeat center center;    
  }
  &.like.on{
    background:#ffe4e3 url(../images/common/icon_like_on.png) no-repeat center center;
  }
  &.analysis{
    background: url(../images/common/icon_analysis_off.png) no-repeat center center;
  }
  &.analysis.on{
    background:#ffe4e3 url(../images/common/icon_analysis_on.png) no-repeat center center;
  }
  &.agree{
    background: url(../images/common/icon_agree_off.png) no-repeat 10px center;
  }  
  &.agree.on{
    background:#ffe4e3 url(../images/common/icon_agree_on.png) no-repeat 10px center;
  }
}


/*팝업 컨설팅 전후 비교*/
.consultingWrap{
  width: 700px;
  > .title{
    font-size: $_30px;
    line-height: $_40px;
    color: $colorLevel2;
    text-align: center;
    margin-top: 33px;
    letter-spacing:-2px;
    font-weight: 300;
    strong{
      font-weight: 500;
    }
    .icon{
      display: inline-block;
      height: 34px;
      vertical-align: top;
      transform:translate(0, 3px);
    }
  }
  > .text{
    color: $colorButtonRed;
    font-size: $_24px;
    letter-spacing:-2px;
    text-align: center;
    margin-top: 22px;
    font-weight: 300;
  }
  .boxArea{
    margin-top: 20px;
    @include clearline;
    border:1px solid $lineColor3;
    border-radius:10px;
    .box{
      float: left;
      width: 50%;
      height: 581px;
      position: relative;
      border:2px solid transparent;
      text-align: center;
      margin:-1px 0;
      &.after{
        border-radius:10px;
        border:2px solid #3c454e;
        background: #f8f8f8;
      }
      > .title{
        font-size: $_20px;
        line-height: $_30px;
        color: $colorLevel2;
        text-align: center;
        margin-top: 33px;
        .icon{
          display: inline-block;
          height: 34px;
          vertical-align: top;
          transform:translate(0, 3px);
        }
      }
      .infoGrid{
        margin: 25px auto 15px auto;
        width: 250px;
        padding-bottom: 48px;
        position: relative;
        text-align: left;
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0px;
          width: 36px;
          height: 3px;
          border-radius: 3px;
          background: #01a7c4;
          margin:0 auto;
        }
      }
      .graphArea{
        height: 217px;
        position: relative;
        &:after{
          content:"";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index:1;
          background: #fff;
          opacity:0;
        }
      }
      .infoBox{
        margin: 25px auto 0 auto;
        border:1px solid $lineColor2;
        border-radius:13px;
        line-height: 1;
        font-size: 0;
        padding:18px 20px;
        display:table;
        text-align: center;
        li{
          display: inline-block;
          padding:0 18px;
          text-align: center;
          line-height: 1;
          .tit{
            display: block;
            font-size: $_16px;
          }
          .number{
            margin-top: 8px;
            display: block;
            font-size: $_24px;
            font-weight: 700;
          }
          &.all{
            color: $colorLevel2;
          }
          &.no{
            color: #7c838f;
          }
          &.lack{
            color: $colorButtonRed;
          }
          &.good{
            color: #01a7c4;
          }
        }
      }
    }
  }
}
