.wrap {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background: #f0f3f8;
}

//메인 layout
.wrap.main {
  min-height: 940px;
  margin: 0 auto;
  min-width: 1280px;

  &:after {
    content: "";
    display: block;
    width: 1920px;
    height: 940px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    background-image: url("/asset/images/common/main_left_bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .contentWrap {
    @include clearline;
    margin: 0 auto;
    width: 1280px;
    position: relative;
    z-index: 1;
    /*메인 왼쪽*/
    .leftArea {
      float: left;
      position: relative;
      width: 418px;
      height: 940px;
      padding: 30px 60px 0 50px;

      .nameArea {
        margin-top: 62px;
        font-size: $_40px;
        line-height: $_50px;
        color: #fff;
        font-weight: 300;
        letter-spacing: -4px;

        .name {
          font-weight: 600;
        }
      }

      .manyArea {
        position: relative;
        margin-top: 43px;
        padding-bottom: 68px;
        color: #fff;
        letter-spacing: -1px;

        .many {
          font-weight: 600;
          font-size: $_36px;
          color: $colorButtonRed;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 36px;
          height: 3px;
          border-radius: 3px;
          background: #01a7c4;
        }
      }

      .infoText {
        margin-top: 64px;
        letter-spacing: -2px;
        font-weight: 300;
        color: #01a7c4;
        font-size: $_28px;
        line-height: $_36px;
      }

      .searchArea {
        margin-top: 15px;
      }

      .sorting {
        margin-top: 28px;
        text-align: right;

        .sortingList {
          @include clearline;
          text-align: left;
          margin-top: 20px;
          padding-bottom: 15px;
          border-bottom: 1px solid #48546e;

          li {
            float: left;
            margin-right: 15px;
            letter-spacing: -1px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .bottomBtnArea {
        @include clearline;
        position: absolute;
        left: 50px;
        bottom: 50px;
        background: rgba(41, 53, 108, 0.8);
        padding: 20px 0;
        border-radius: 5px;

        li {
          float: left;
          width: 131px;

          a {
            display: block;
            text-align: center;
            padding: 8px 0 5px 0;

            .icon {
              display: block;
            }

            .text {
              margin-top: 8px;
              display: block;
              color: #ffffff;
              letter-spacing: -1px;
            }
          }

          &:last-child {
            width: 177px;
            border-left: 1px solid #1d2653;
          }
        }
      }
    }

    /*메인 본문*/
    .contentArea {
      float: left;
      position: relative;
      width: 862px;
      padding: 30px 0 30px 30px;

      .contentScroll {
        height: 815px;
      }
    }
  }
}
//서브 layout
.wrap.sub {
  min-height: 940px;
  margin: 0 auto;
  min-width: 1280px;
  &:after {
    content: "";
    display: block;
    width: 1920px;
    height: 940px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1104px;
    background-image: url("/asset/images/common/main_left_bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .contentWrap {
    @include clearline;
    margin: 0 auto;
    width: 1280px;
    position: relative;
    z-index: 1;
    > .btnClose{
      position: absolute;
      right: 50px;
      top: 0;
    }
    /*메인 왼쪽*/
    .leftArea {
      float: left;
      position: relative;
      width: 418px;
      height: 940px;
      padding-left:50px;
      .infoArea{
        float: left;
        width: 194px;
        .searchArea{
          margin:25px 29px 0 0;
        }
        .sorting {
          margin-top: 17px;
          margin-right: 29px;
          text-align: right;
          @include clearline;
          .sortingList {
            text-align: left;
            margin-top: 20px;
            padding-right: 15px;
            float:right;
            li {
              margin-bottom: 5px;
              letter-spacing: -1px;
              &:last-child {
                margin-bottom: 0;
              }
              label{
                width: 115px;
                text-align: right;
              }
            }
          }
        }
        .selectMemberBox{
          background: url("/asset/images/common/member_box_bg.png") no-repeat;
          height: 278px;
          padding:51px 0 0 25px;
          .info{
            letter-spacing:-0.04em;
            .name{
              position: relative;
              font-size: $_20px;
              line-height: 1;
              padding-bottom: 18px;
              color: $colorLevel2;
              margin-bottom: 10px;
              &:after{
                content:"";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 36px;
                height: 3px;
                border-radius:3px;
                background: #01a7c4;
                overflow: hidden;
              }
            }
            > .text{
              color: $colorLevel3;
              margin-bottom: 7px;
            }
            .btnArea{
              @include clearline;
              margin-bottom: 10px;
              .btnIcon{
                @include bgBtn;
                width: 22px;
                height: 22px;
                margin-right: 17px;
                float: left;
                &.favorites{
                  background: url("/asset/images/common/icon_like_layout_off.png") no-repeat center top;
                  &:hover,
                  &:focus,
                  &.on{
                    background: url("/asset/images/common/icon_like_layout_on.png") no-repeat center top;
                  }
                }
                &.statistics{
                  background: url("/asset/images/common/icon_analysis_layout_off.png") no-repeat center top;
                  &:hover,
                  &:focus,
                  &.on{
                    background: url("/asset/images/common/icon_analysis_layout_on.png") no-repeat center top;
                  }
                }
                &.sms{
                  background: url("/asset/images/common/icon_agree_layout_off.png") no-repeat center top;
                  &:hover,
                  &:focus,
                  &.on{
                    background: url("/asset/images/common/icon_agree_layout_on.png") no-repeat center top;
                  }
                }
              }
            }
          }
        }
        .memberListArea{
          .total{
            margin: 10px 0 25px 0;
            padding-left: 25px;
            font-size: $_28px;
            color: #ffffff;
            letter-spacing:-1px;
            strong{
              font-size: $_32px;
              font-weight: 600;
              color: $colorButtonRed;
            }
          }
          .memberList{
            width: 180px;
            height: 360px;
            padding-left: 14px;

            .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
              background-color:#d6d6d9;
            }

            .list{
              width: 150px;
              > li{
                margin-bottom: 9px;
                .item{
                  .name{
                    display: block;
                    width: 100%;
                    line-height: 38px;
                    padding-left: 10px;
                    color: #bbccf5;
                    font-weight: 600;
                    position: relative;
                    &:after{
                      content:"";
                      display: block;
                      background: url("/asset/images/common/main_select_arr_off.png") no-repeat;
                      width: 15px;
                      height: 8px;
                      position: absolute;
                      right:10px;
                      top:14px;
                    }
                  }
                  .info{
                    display: none;
                    margin-bottom: 9px;
                    border-top:1px solid #ffffff;
                    border-bottom: 1px solid #606c87;
                    padding:20px 10px;
                    > .text{
                      font-size: $_14px;
                      color: #ffffff;
                      line-height: 1;
                      margin-bottom: 15px;
                    }
                    .btnArea{
                      @include clearline;
                      margin-bottom: 12px;
                      .btnIcon{
                        @include bgBtn;
                        width: 22px;
                        height: 22px;
                        margin-right: 17px;
                        float: left;
                        &.favorites{
                          background: url("/asset/images/common/icon_like_layout2_off.png") no-repeat center top;
                          &:hover,
                          &:focus,
                          &.on{
                            background: url("/asset/images/common/icon_like_layout_on.png") no-repeat center top;
                          }
                        }
                        &.statistics{
                          background: url("/asset/images/common/icon_analysis_layout2_off.png") no-repeat center top;
                          &:hover,
                          &:focus,
                          &.on{
                            background: url("/asset/images/common/icon_analysis_layout_on.png") no-repeat center top;
                          }
                        }
                        &.sms{
                          background: url("/asset/images/common/icon_agree_layout2_off.png") no-repeat center top;
                          &:hover,
                          &:focus,
                          &.on{
                            background: url("/asset/images/common/icon_agree_layout_on.png") no-repeat center top;
                          }
                        }
                      }
                    }
                    .infoGrid{
                      li{
                        color: #ffffff !important;
                        &.title{
                          width: 58px;
                        }
                      }
                    }
                  }
                  &.on{
                    .name{
                      color: #ffffff;
                      &:after{
                        background: url("/asset/images/common/main_select_arr_on.png") no-repeat;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .menuArea{
        float: left;
        width: 174px;
        height: 940px;
        background: #f0f3f8;
        position: relative;
        border-right: 1px solid $lineColor2;
        .menuSet{
          height:695px;
          position: relative;
          ul{
            position: absolute;
            left: 0;
            top: 50%;
            margin-top:-272px;
            width: 100%;
            li{
              margin-bottom: 45px;
              text-align: center;
              .menu{
                position: relative;
                text-align: center;
                display: inline-block;
                color: $colorPoint2;
                font-size: $_17px;
                line-height: 1;
                span{
                  display: block;
                  text-align: center;
                  margin-top: 9px;
                }
                &:before{
                  content:'';
                  display: inline-block;
                }
                &:hover,
                &:focus,
                &.on{
                  color: $colorPoint1;
                  &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -24px;
                    width: 36px;
                    height: 3px;
                    border-radius: 3px;
                    background: #01a7c4;
                    margin:0 auto;
                  }
                }
                &.menu01{
                  &:before{
                    background: url("/asset/images/common/submenu_01_off.png") no-repeat;
                    width: 46px;
                    height: 28px;
                  }
                  &:hover:before,
                  &:focus:before,
                  &.on:before{
                    background: url("/asset/images/common/submenu_01_on.png") no-repeat;
                  }
                }
                &.menu02{
                  &:before {
                    background: url("/asset/images/common/submenu_02_off.png") no-repeat;
                    width: 46px;
                    height: 31px;
                  }
                  &:hover:before,
                  &:focus:before,
                  &.on:before{
                    background: url("/asset/images/common/submenu_02_on.png") no-repeat;
                  }
                }
                &.menu03{
                  &:before {
                    background: url("/asset/images/common/submenu_03_off.png") no-repeat;
                    width: 46px;
                    height: 32px;
                  }
                  &:hover:before,
                  &:focus:before,
                  &.on:before{
                    background: url("/asset/images/common/submenu_03_on.png") no-repeat;
                  }
                }
                &.menu04{
                  &:before {
                    background: url("/asset/images/common/submenu_04_off.png") no-repeat;
                    width: 46px;
                    height: 37px;
                  }
                  &:hover:before,
                  &:focus:before,
                  &.on:before{
                    background: url("/asset/images/common/submenu_04_on.png") no-repeat;
                  }
                }
                &.menu05{
                  &:before {
                    background: url("/asset/images/common/submenu_05_off.png") no-repeat;
                    width: 46px;
                    height: 37px;
                  }
                  &:hover:before,
                  &:focus:before,
                  &.on:before{
                    background: url("/asset/images/common/submenu_05_on.png") no-repeat;
                  }
                }
              }
            }
          }
        }
        .bottomPosition{
          position: absolute;
          left: 0;
          bottom: 0;
          .utilMenu{
            border-top:1px solid $lineColor2;
            padding:20px 0 20px 28px;
            li{
              .btn{
                color: $colorLevel4;
                font-size: $_14px;
                line-height: $_30px;
                letter-spacing:-1px;
              }
            }
          }
        }
      }
    }

    /*메인 본문*/
    .contentArea {
      float: left;
      position: relative;
      width: 862px;
      padding: 0px 0 0px 30px;

      .contentScroll {
        height: 940px;
      }
    }
  }
}
.submainWrap{
  width: 781px;
  .topArea{
    @include clearline;
    border-bottom: 1px solid $lineColor1;
    position: relative;
    z-index:1;
    .imgArea{
      float: left;
      width: 295px;
    }
    .infoArea{
      float: left;
      width: 486px;
      padding-top: 102px;
      .favorites{
        display: inline-block;
        background: url("/asset/images/main/icon_heart.png") no-repeat right top;
        line-height: 17px;
        padding-right: 26px;
        color: $colorLevel2;
      }
      .title{
        margin-top: 7px;
        color: $colorLevel1;
        font-size: $_34px;
        line-height:$_40px;
        font-weight: 300;
        letter-spacing:-1px;
        strong{
          font-weight: 600;
        }
      }
      .text{
        @include clearline;
        margin-top: 20px;
        span,
        button{
          float: left;
          font-size: $_17px;
          line-height: $_22px;
          margin-right: 20px;
          color: $colorLevel4;
        }
        .alert{
          margin-right: 10px;
          background: url("/asset/images/main/icon_alert.png") no-repeat right top;
          padding-right: 27px;
        }
      }
    }
    .layerPopBox{
      left: 260px;
      top: 265px;
    }
  }
  .moreContent{
    @include clearline;
    margin-top: 20px;
    height: 599px;
    position: relative;
    .box{
      border-radius:5px;
      background: #ffffff;
      &.box1{
        width: 386px;
        height: 284px;
        position: absolute;
        left: 0;
        top: 0;
        > .title{
          line-height: $_36px;
          padding-top: 34px;
          font-size: $_30px;
          font-weight: 300;
          color: $colorLevel2;
          text-align: center;
        }
        > .text{
          color: $colorLevel2;
          font-size: $_20px;
          line-height: 1;
          margin-top: 17px;
          text-align: center;
          padding-bottom: 42px;
          position: relative;
          margin-bottom: 37px;
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 36px;
            height: 3px;
            border-radius: 3px;
            background: #01a7c4;
            margin:0 auto;
          }
        }
        .infoGrid{
          margin:0 auto;
          width: 250px;
        }
      }
      &.box2{
        width: 386px;
        height: 304px;
        position: absolute;
        left: 0;
        bottom: 0;
        .graphArea{
          position: relative;
          #chartdiv1{
            height: 200px;
          }
          .counterNumber{
            position: absolute;
            left: 50%;
            top: 50%;
            color: #42b4cc;
            transform:translate(-50%, -50%);
            font-size: $_30px;
            letter-spacing: -1px;
            strong{
              font-weight: 700;
            }
          }
        }
        .infoGrid{
          margin:-12px auto 0 auto;
          width: 250px;
        }
      }
      &.box3{
        width: 385px;
        height: 599px;
        position: absolute;
        right: 0;
        top: 0;
        > .title{
          line-height: $_36px;
          padding-top: 34px;
          font-size: $_30px;
          font-weight: 300;
          color: $colorLevel2;
          text-align: center;
        }
        > .text {
          color: $colorLevel2;
          font-size: $_20px;
          line-height: 1;
          margin-top: 12px;
          text-align: center;
          position: relative;
        }
        .graphArea{
          position: relative;
          padding-top: 10px;
          #chartdiv2{
            height: 220px;
          }
          .counterNumber{
            position: absolute;
            left: 50%;
            top: 50%;
            color: #42b4cc;
            transform:translate(-50%, -50%);
            font-size: $_30px;
            letter-spacing: -1px;
            strong{
              font-weight: 700;
            }
          }
        }
        .infoBox{
          width: 305px;
          margin: 25px auto 0 auto;
          border:1px solid $lineColor2;
          border-radius:13px;
          line-height: 1;
          font-size: 0;
          padding:18px 0;
          display:table;
          text-align: center;
          li{
            display: inline-block;
            padding:0 15px;
            text-align: center;
            line-height: 1;
            .tit{
              display: block;
              font-size: $_16px;
            }
            .number{
              margin-top: 8px;
              display: block;
              font-size: $_24px;
              font-weight: 700;
            }
            &.all{
              color: $colorLevel2;
            }
            &.no{
              color: #7c838f;
            }
            &.lack{
              color: $colorButtonRed;
            }
            &.good{
              color: #01a7c4;
            }
          }
        }
        .result{
          margin-top: 28px;
          font-size: $_20px;
          line-height: $_30px;
          color: $colorLevel2;
          text-align: center;
          span{
            color: $colorButtonRed;
          }
        }
      }
    }
  }
}
.subTitle {
  font-size: $_22px;
  line-height: $_30px;
  color: $colorLevel1;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: -2px;
}

/*정보성 layerPopBox*/
.layerPopBox{
  display: none;
  transform-origin: 50% 0;
  opacity: 0;
  transform: scale(.75);
  transition: transform .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  padding:28px 30px;
  border-radius:10px;
  box-shadow:0 0 10px 3px rgba(35,44,66,0.2);
  background: #ffffff;
  &.open{
    opacity: 1;
    transform: scale(1);
  }
  .layerPopContent{
    font-size: $_14px;
    line-height: $_20px;
    letter-spacing:-0.03em;
    .iconTitle{
      background: url("/asset/images/main/icon_alert.png") no-repeat left top;
      font-size: $_16px;
      line-height: 21px;
      padding-left: 27px;
      color: $colorLevel2;
      margin-bottom: 10px;
    }
    .text{
      font-size: $_14px;
      line-height: $_20px;
      color: $colorLevel4;
    }
  }

  .btnClose{
    position: absolute;
    right: 20px;
    top: 20px;
    background: url("/asset/images/common/btn_popup_close.png") no-repeat;
    width: 17px;
    height: 17px;
  }
}