.wrap {
	position: relative;
	min-height: 100%;

	> .top_area {
		position: sticky;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;

		.menu_area {
			display: flex;
			padding: 20px 20px 0 20px;

			li {
				&.home {
					flex: 1;
				}

				&.util {
					flex: none;
					a{
						display: none;
						text-indent: 0;
						color: #fff;
						font-size: $fz11px;
						letter-spacing: -0.075em;
						line-height: 13px;

						&:before{
							display: inline-block;
							content: '';
							width: 24px;
							height: 23px;
							margin: 2px 5px 0 0;
							vertical-align: top;
						}

						span{
							display: inline-block;
							vertical-align: top;
						}
					}
				}

				a {
					@include bg_btn;
					float: left;
					margin-left: 15px;

					&.home {
						width: 24px;
						height: 22px;
						margin-left: 0;
						background: url("/resources/images/gu.renew.common/btn_home.png") no-repeat;
						background-size: 24px 22px;
					}

					&.menu01:before {
						background: url("/resources/images/gu.renew.common/btn_mobile_menu_01.png") no-repeat;
						background-size: 24px 23px;
					}

					&.menu02:before {
						background: url("/resources/images/gu.renew.common/btn_mobile_menu_02.png") no-repeat;
						background-size: 24px 22px;
					}

					&.menu03:before {
						background: url("/resources/images/gu.renew.common/btn_mobile_menu_03.png") no-repeat;
						background-size: 24px 23px;
					}

					&.menu04:before {
						background: url("/resources/images/gu.renew.common/btn_mobile_menu_04.png") no-repeat;
						background-size: 24px 23px;
					}

					&.menu05:before {
						background: url("/resources/images/gu.renew.common/btn_mobile_menu_05.png") no-repeat;
						background-size: 24px 23px;
					}
				}
			}
		}
	}

	.top_bg_area {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 162px;
		background: url("/resources/images/gu.renew.common/main_bg.jpg") no-repeat;
		background-size: cover;

		.name_area {
			padding-top: 70px;
			padding-left: 38px;
			font-size: $fz14px;
			line-height: 21px;
			color: #ffffff;

			strong {
				font-size: $fz16px;
			}
		}
	}

	.content_area {
		position: relative;
		z-index: 4;
		min-height: calc(100vh - 154px);

		&.bg_white {
			background: #ffffff;
		}

		&.bg_gray {
			background: #f3f3f3;
		}

		.search_box {
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			padding: 15px 20px 25px 20px;
			border-radius: 10px 10px 0 0;
			background: #333333;

			&:after {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 10px;
				border-radius: 10px 10px 0 0;
				background: #f0f3f8;
				content: '';
			}
		}

		.sorting_list {
			display: flex;
			margin-top: 15px;
			padding: 0 15px;

			li {
				margin-left: 25px;
				letter-spacing: -1px;

				&:first-child {
					margin-left: 0;
				}

				label {
					font-size: $fz12px;
				}
			}
		}

		.content_radius_box {
			position: relative;
			border-radius: 10px 10px 0 0;
			background: #f0f3f8;
		}
	}

	&.main {
		padding-top: 129px;

		.menu_area {
			li {
				a {
					&.menu01,
					&.menu02, 
					&.menu04 {
						display: block;
					}
				}
			}
		}
		.content_area {
			padding-top: 114px;
		}

		.top_area {
			position: fixed;
		}

	}

	&.sub {
		padding-bottom: 66px;

		> .top_area {
			background: #333333;

			&.tab {
				height: 137px;
			}

			&.tab_open {
				height: 179px;
			}

			.menu_area {
				li {
					a {
						&.menu02,
						&.menu03,
						&.menu05 {
							display: block;
						}
					}
				}
			}

			.conner_left {
				display: block;
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 10px;
				height: 10px;
				overflow: hidden;

				&:after {
					display: block;
					width: 10px;
					height: 10px;
					border-radius: 10px 0 0 0;
					content: "";
					box-shadow: 0 0 0 10px #333333;
				}
			}

			.conner_right {
				display: block;
				position: absolute;
				right: 0;
				bottom: -10px;
				width: 10px;
				height: 10px;
				overflow: hidden;

				&:after {
					display: block;
					width: 10px;
					height: 10px;
					border-radius: 0 10px 0 0;
					content: "";
					box-shadow: 0 0 0 10px #333333;
				}
			}

			.member_info_area {
				display: flex;
				margin-top: 20px;
				padding: 0 20px 10px 20px;
				line-height: 16px;

				.name {
					font-size: $fz16px;
					flex: 1;
					color: #ffffff;

					strong {
						font-weight: 600;
					}

					.favorites {
						@include bg_btn;
						width: 12px;
						height: 12px;
						background: url("/resources/images/gu.renew.contents/btn_like_off.png") no-repeat;
						background-size: 12px auto;

						&.on {
							background-image: url("/resources/images/gu.renew.contents/btn_like_on.png");
						}
					}
				}

				.info {
					display: flex;
					height: 16px;
					font-size: $fz12px;
					color: $color_level4;

					li {
						position: relative;
						margin-right: 6px;
						padding-right: 6px;

						&:after {
							display: block;
							position: absolute;
							top: 50%;
							right: 0;
							width: 1px;
							height: 10px;
							margin-top: -5px;
							background: #4d4d4d;
							content: "";
						}

						&:last-child {
							margin-right: 0;
							padding-right: 0;

							&:after {
								display: none;
							}
						}

						span {
							display: inline-block;
							margin-right: 4px;
							vertical-align: top;

							&:last-child {
								margin-right: 0;
							}
						}

						.btn_alert {
							padding-right: 14px;
							background: url("/resources/images/gu.renew.contents/icon_alert.png") no-repeat right 2px;
							background-size: 11px auto;
							font-size: $fz12px;
							line-height: 16px;
							vertical-align: top;
							color: $color_level4;
						}
					}

					.layer_pop_box{
						top: 22px;
						left: auto;
						right: 0;
						width: 265px;
					}
				}
			}
		}

		.top_info {
			position: relative;;
			z-index: 11;
			width: 100%;
			padding: 20px 22px;
			border-radius: 10px 10px 0 0;
			background: #f3f3f3;

			ul {
				display: flex;
				width: 100%;

				li {
					line-height: 1;

					&.default {
						padding-right: 30px;
					}

					&.month {
						flex: 1;
					}

					&.list {
						padding-right: 19px;
						flex: none;
						text-align: center;

						&:last-child {
							padding-right: 0;
						}

						&.no {
							.title,
							.result {
								color: #777777 !important;
							}
						}

						&.lack {
							.title,
							.result {
								color: #ff4858 !important;
							}
						}

						&.good {
							.title,
							.result {
								color: #00a8c3 !important;
							}
						}
					}

					.title {
						position: relative;
						margin-bottom: 10px;
						font-size: $fz12px;
						color: $color_level3;
						
						&.new{
							&:before{
								position: absolute;
								top: -10px;
								right: -10px;
								display: block;
								content: "N";
								width: 11px;
								height: 11px;
								line-height: 11px;
								font-size: $fz9px;
								background: #ff4858;
								border-radius: 50%;
								text-align: center;
								color: #fff;
							}
						}
					}

					.result {
						font-size: $fz15px;
						color: $color_level2;

						strong {
							font-size: $fz18px;
						}
					}
				}
			}

			.btn_area {
				margin: 12px -8px 0 -8px;

				.btn_inner {
					display: block;
					height: 26px;
					padding: 0 12px;
					border: 1px solid #d5d5d5;
					border-radius: 28px;

					span {
						display: block;
						background: url("/resources/images/gu.renew.common/btn_arr.png") no-repeat right center;
						background-size: auto 10px;
						font-size: $fz12px;
						color: $color_level1;
					}
				}
			}
		}

		&.tab .content_area {
			min-height: calc(100vh - 203px);
		}

		&.tab_open .content_area {
			min-height: calc(100vh - 244px);
		}
	}

	&.fixed {
		.search_box {
			position: fixed;
			top: 0;
			left: 0;
			padding-top: 60px;
			border-radius: 0;
		}
	}
}

//상단 텝메뉴
.sub_tab_menu {
	position: relative;
	margin-top: 5px;

	.tab_area {
		display: flex;
		position: relative;
		z-index: 2;

		li {
			position: relative;
			width: 50%;
			height: 54px;
			overflow: hidden;

			.tab {
				display: block;
				width: 100%;
				height: 44px;
				border-radius: 10px 10px 0 0;
				background: #4d4d4d;
				font-size: $fz15px;
				text-align: center;
				vertical-align: top;
				color: #ffffff;

				&:after {
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 10px;
					content: "";
				}

				&.on {
					background: #ffffff;
					font-weight: bold;
					color: $color_level2;

					&:after {
						border-radius: 0 !important;
						box-shadow: none !important;
					}
				}
			}

			&:first-child {
				.tab:after {
					border-radius: 10px 0 0 0;
					box-shadow: 0 0 0 10px #4d4d4d;
				}
			}

			&:last-child {
				.tab:after {
					border-radius: 0 10px 0 0;
					box-shadow: 0 0 0 10px #4d4d4d;
				}
			}
		}
	}

	.sub_menu {
		display: none;
		position: relative;
		z-index: 3;
		height: 42px;
		margin-top: -10px;
		background: #ffffff;

		.scroll_area {
			position: relative;
			z-index: 1;
			padding-right: 35px;
			border-bottom: 1px solid #d5d5d5;
			overflow: auto;
			box-shadow: 0 2px 2px 1px rgba(100, 100, 100, 0.12);

			ul {
				display: table;
				padding-left: 17px;
				font-size: 0;
				white-space: nowrap;

				li {
					display: inline-block;
					margin-right: 25px;
					font-size: $fz12px;
					line-height: 40px;

					.on {
						font-weight: bold;
						color: #fe5855;
					}
				}
			}
		}

		.btn_sub_menu_toggle {
			@include bg_btn;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			width: 35px;
			height: 40px;
			outline: none;
			background: #ffffff url("/resources/images/gu.renew.common/btn_sub_menu_open.png") no-repeat center center;
			background-size: 16px auto;

			&.open {
				transform: rotate(180deg);
			}
		}
	}

	.all_menu_area {
		display: none;
		display: none;
		position: absolute;
		top: 42px;
		left: 0;
		padding: 0 17px;
		background: #ffffff;

		&:after {
			display: block;
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #cad2db;
			content: "";
		}

		ul {
			overflow: hidden;

			li {
				position: relative;
				float: left;
				margin-right: 25px;
				font-size: $fz12px;
				line-height: 42px;

				&:after {
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100vw;
					height: 1px;
					background: #eaeaea;
					content: "";
				}

				.on {
					font-weight: bold;
					color: #fe5855;
				}
			}
		}
	}
}

.dim_bg {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

//하단메뉴
.bottom_fixed_menu_area {
	display: flex;
	position: fixed;
	z-index: 20;
	bottom: 0;
	left: 0;
	//transition:all 0.2s;
	width: 100%;
	border-top: 1px solid #ededed;
	background: #ffffff;

	.home {
		position: relative;
		padding: 10px 23px 10px 10px;
		background: #333333;
		overflow: hidden;
		flex: none;

		span {
			display: block;
			position: relative;
			z-index: 1;
			padding-top: 30px;
			background: url("/resources/images/gu.renew.common/bottom_menu_home.png") no-repeat center top;
			background-size: 25px auto;
			font-size: $fz11px;
			color: #ffffff;
		}

		&:after {
			display: block;
			position: absolute;
			top: -7px;
			right: -18px;
			width: 25px;
			height: 120%;
			background: #ffffff;
			content: "";
			transform: rotate(10deg);
		}
	}

	ul {
		display: flex;
		flex: 1;

		li {
			align-self: center;
			flex: 1;
			text-align: center;

			.bottom_menu {
				span {
					display: block;
					position: relative;
					padding-top: 30px;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: auto 20px;
					font-size: $fz11px;
					letter-spacing: -1px;
					color: $color_level4;
				}

				&.on span {
					color: #ff4858;
				}

				&.menu01 span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_01_off.png");
				}

				&.menu01.on span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_01_on.png");
				}

				&.menu02 span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_02_off.png");
				}

				&.menu02.on span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_01_on.png");
				}

				&.menu03 span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_03_off.png");
				}

				&.menu03.on span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_01_on.png");
				}

				&.menu04 span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_04_off.png");
				}

				&.menu04.on span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_01_on.png");
				}

				&.menu05 span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_05_off.png");
				}

				&.menu05.on span {
					background-image: url("/resources/images/gu.renew.common/bottom_menu_01_on.png");
				}

				&.new span:after {
					position: absolute;
					top: 27px;
					right: -5px;
					width: 4px;
					height: 4px;
					border-radius: 4px;
					background: #ff4858;
					content: "";
				}
			}
		}
	}
}


.btn_top {
	@include bg_btn;
	display: none;
	position: absolute;
	right: 18px;
	bottom: 20px;
	width: 44px;
	height: 44px;
	background: url("/resources/images/gu.renew.common/btn_top.png") no-repeat;
}

.submain_wrap {
	padding: 0 17px;

	.top_area {
		height: 159px;
		background: url("/resources/images/gu.renew.contents/main_top_img.png") no-repeat;
		background-size: auto 159px;
		text-align: right;

		.info_grid {
			float: right;
			margin: 30px 20px 0 0;

			.title {
				font-size: $fz12px;
				line-height: 1;
				text-align: right;
				color: $color_level2;
			}

			.text {
				position: relative;
				margin-top: 8px;
				font-size: $fz20px;
				line-height: 1;
				text-align: right;
				color: $color_level2;

				strong {
					font-size: $fz24px;
				}
			}
		}
	}

	.box {
		margin-bottom: 10px;
		border-radius: 5px;
		background: #ffffff;

		&.box1 {
			display: flex;

			.graph_area {
				position: relative;

				#chartdiv1 {
					width: 150px;
					height: 130px;
				}

				.counter_number {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: $fz18px;
					transform: translate(-50%, -50%);
					letter-spacing: -1px;
					color: #42b4cc;

					strong {
						font-weight: 700;
					}
				}
			}

			.info_grid {
				padding-right: 20px;
				align-self: center;
				flex: 1;
			}
		}

		&.box2 {
			display: flex;
			flex-wrap: wrap;

			.graph_area {
				position: relative;

				#chartdiv2 {
					width: 150px;
					height: 135px;
				}
			}

			.info_content_area {
				padding-right: 20px;
				flex: 1;

				> .title {
					margin-bottom: 8px;
					padding-top: 18px;
					font-size: $fz15px;
					font-weight: 700;
					line-height: 1;
					text-align: center;
					letter-spacing: -2px;
					color: $color_level2;
				}

				.info_box {
					padding: 8px 0 8px 0;
					border: 1px solid $line_color2;
					border-radius: 13px;
					line-height: 1;
					text-align: center;
					letter-spacing: -1px;

					.info_title {
						margin-bottom: 8px;
						font-size: $fz12px;
						color: $color_level2;
					}

					ul {
						display: table;
						width: 100%;
						font-size: 0;

						li {
							display: inline-block;
							padding: 0 10px;
							line-height: 1;
							text-align: center;

							.tit {
								display: block;
								font-size: $fz12px;
								color: #777777;
							}

							.number {
								display: block;
								margin-top: 4px;
								font-size: $fz16px;
								font-weight: 700;
							}


							&.no {
								.tit,
								.number {
									color: #777777;
								}
							}

							&.lack {
								.tit,
								.number {
									color: $color_button_red;
								}

							}

							&.good {
								.tit,
								.number {
									color: #5bd1e6;
								}
							}
						}
					}
				}
			}


			.result {
				width: 100%;
				padding-bottom: 10px;
				font-size: $fz14px;
				line-height: 1;
				flex: none;
				text-align: center;
				letter-spacing: -1px;
				color: $color_level2;

				span {
					color: $color_button_red;
				}
			}
		}
	}
}

.sub_title {
	margin-bottom: 15px;
	font-size: $fz22px;
	line-height: $fz30px;
	text-align: center;
	letter-spacing: -2px;
	color: $color_level1;
}

/*정보성 layer_pop_box*/
.layer_pop_box {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 14px 15px;
	border-radius: 10px;
	background: #ffffff;
	transition: transform .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
	transform: scale(.75);
	transform-origin: 50% 0;
	opacity: 0;
	border: 1px solid #ddd;
	z-index: 10;
	//box-shadow: 0 0 10px 3px rgba(35, 44, 66, 0.2);

	&:before{
		position: absolute;
		top: -6px;
		right: 28px;
		content: "";
		display: block;
		width: 12px;
		height: 6px;
		background: url(/resources/images/gu.renew.contents/icon_layer_pop_arrow.png) no-repeat 0 0 ;
		background-size: 100% auto;	
	}

	&.open {
		transform: scale(1);
		opacity: 1;
	}

	.layer_pop_content {
		font-size: $fz14px;
		line-height: $fz20px;
		letter-spacing: -0.03em;

		.icon_title {
			margin-bottom: 10px;
			padding-left: 27px;
			background: url("/resources/images/gu.renew.contents/icon_alert.png") no-repeat left top;
			font-size: $fz12px;
			line-height: 15px;
			color: $color_level2;
		}

		.title {
			margin-bottom: 5px;
			font-size: $fz12px;
			font-weight: 700;
			line-height: 15px;
			color: $color_level2;
		}

		.text {
			font-size: $fz12px;
			line-height: $fz17px;
			color: $color_level4;
			letter-spacing: -0.05em;
			text-align: justify;
		}
	}

	.btn_close {
		display: block;
		position: absolute;
		top: 11px;
		right: 20px;
		width: 13px;
		height: 13px;
		background: url("/resources/images/gu.renew.common/btn_close_gray.png") no-repeat;
		background-size: 100% auto;
	}
}

.count {
	opacity: 0;

	&.active {
		opacity: 1;
	}
}
