.align_c {
	text-align: center;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

@mixin state{
display: inline-block;
color: #ff4858;
background: #ffe4e3;
height: 18px;
line-height: 20px;
padding: 0 10px;
border-radius: 3px;
font-size: $fz12px;
}

/* customer_sort */
.customer_sort {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	padding: 20px 20px 15px;
	background: #f0f3f8;

	.customer_total {
		float: left;
		padding-top: 3px;
		font-size: $fz16px;
		font-weight: 700;
		letter-spacing: -0.075em;
		color: $color_level2;

		strong {
			font-size: $fz18px;
			font-weight: 700;
			color: #fe5855;
		}
	}

	.sorting {
		float: right;

	}

	.select_box {
		display: inline-block;

		.nice-select {
			height: 30px;
			padding: 0 37px 0 10px;
			border: 1px solid #e0e4ea;
			border-radius: 5px;
			background: #fff;
			font-size: $fz12px;
			line-height: 28px;
			letter-spacing: -0.075em;
			color: $color_level2;

			&:after {
				top: 50%;
				right: 15px;
				width: 7px;
				height: 7px;
				margin-top: -6px;
				border-color: #3c444d;
			}

			.option {
				min-height: 32px;
				padding-right: 10px;
				padding-left: 10px;
			}
		}
	}

	.list_type_select {
		display: inline-block;
		font-size: 0;
		vertical-align: top;

		.btn {
			display: inline-block;
			position: relative;
			width: 37px;
			height: 30px;
			border: 1px solid #e0e4ea;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 16px 16px;
			vertical-align: top;

			&.grid {
				margin-right: -1px;
				border-radius: 5px 0 0 5px;
				background-image: url(/resources/images/gu.renew.common/icon_type_grid.png);
			}

			&.list {
				border-radius: 0 5px 5px 0;
				background-image: url(/resources/images/gu.renew.common/icon_type_list.png);
			}

			&.active {
				z-index: 5;
				border: 1px solid #3c444d;
			}
		}
	}
}

.fixed {
	.customer_sort {
		position: fixed;
		top: 146px;
		left: 0;
	}
}

/* customer_list_box */
.customer_list_box {
	padding: 65px 20px 20px 20px;

	.customer_list {
		display: none;

		&.grid_type {
			display: block;
		}
	}

	.customer_add {
		width: 100%;
		margin-top: 10px;
		text-align: center;

		.btn_customer_add {
			display: block;
			position: relative;
			padding: 45px 0 40px;
			border-radius: 10px;
			background: #fff;
			font-size: $fz15px;
			text-align: center;
			letter-spacing: -0.075em;
			color: $color_level2;

			&:before {
				display: block;
				width: 29px;
				height: 29px;
				margin: 0 auto 8px;
				border: 1px solid #dfe3eb;
				border-radius: 50%;
				background: url(/resources/images/gu.renew.common/icon_add.png) no-repeat center center;
				background-size: 14px 14px;
				content: "";
			}

			&:active:after {
				display: block;
				position: absolute;
				top: -1px;
				left: 0;
				width: calc(100% - 3px);
				height: calc(100% - 1.5px);
				border: 1.5px solid #fe5855;
				border-radius: 8px;
				content: "";
				transition: none;
				box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.15);
			}
		}
	}
}

/* 테이블형 리스트 */
.list_table_type {
	.tbody_box {
		padding-top: 1px;
		border-radius: 10px;
		background: #fff;
		@for $i from 1 through 50 {
			> div:nth-child(#{$i}) {
				transform: translate(0, (1500+($i*30))+px);
				transition-delay: (0.1*$i)+s;
			}
		}

		&.load {
			> div {
				transform: translate(0, 0);
			}
		}

		> div {
			transition: all 1s;
		}

		.item {
			display: block;
			position: relative;
			padding: 0px 20px;

			&:last-child {
				.tr {
					border-bottom: 0;
				}
			}

			&:active {
				z-index: 5;
				transition: none;

				.tr {
					border-bottom-color: transparent;
				}
			}

			&:active::before {
				display: block;
				position: absolute;
				z-index: -1;
				top: -1px;
				left: 0;
				width: calc(100% - 3px);
				height: calc(100% - 1.5px);
				border: 1.5px solid #fe5855;
				border-radius: 8px;
				content: "";
				transition: none;
				box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.15);
			}
		}

		.tr {
			display: table;
			width: 100%;
			border-bottom: 1px solid #ededf4;
			text-align: center;
		}

		.td {
			display: table-cell;
			padding: 8px 10px;
			font-size: $fz13px;
			vertical-align: middle;
			letter-spacing: -0.025em;
			color: $color_level4;

			&.name {
				width: auto;
				padding-left: 0;
				font-size: $fz15px;
				text-align: left;
				letter-spacing: -0.1em;
				color: $color_level2;
			}

			&.birth {
				width: 88px;
				font-size: $fz14px;
			}

			&.gender {
				width: 40px;
			}

			&.old {
				width: 50px;
			}
		}

	}
}

/* 그리드형 리스트 */
.grid_type {
	.item {
		position: relative;
		margin: 0 0 10px;
		overflow: hidden;

		&:last-child {
			margin: 0;
		}
	}

	.customer_info {
		display: block;
		position: relative;
		padding: 15px 20px 51px;
		border-radius: 10px;
		background: #fff;

		&:active:before {
			display: block;
			position: absolute;
			top: 0px;
			left: 0;
			width: calc(100% - 3px);
			height: calc(100% - 3px);
			border: 1.5px solid #fe5855;
			border-radius: 8px;
			content: "";
			transition: none;
			box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.15);
		}

		.name {
			padding-right: 105px;
			font-size: $fz15px;
			letter-spacing: -0.075em;
			color: $color_level2;
		}

		.info {
			margin-bottom: 20px;
			padding-right: 105px;
			font-size: $fz14px;
			line-height: 1;
			letter-spacing: -0.025em;
			color: $color_level4;

			span {
				display: inline-block;
				margin-right: 10px;

				&:last-child {
					margin-right: 0
				}
			}
		}

		.list {
			&:last-child {
				@include clearline();
			}

			li {
				display: block;
				float: left;
				width: 74px;
				line-height: 15px;

				.tit {
					font-size: $fz11px;
					letter-spacing: -0.075em;
					color: $color_level5;
				}

				.txt {
					font-size: $fz12px;
					letter-spacing: -0.025em;
					color: $color_level3;
				}
			}
		}
	}

	.btn_util {
		position: absolute;
		top: 17px;
		right: 20px;
	}

	.btn_util2 {
		position: absolute;
		right: 20px;
		bottom: 15px;
		left: 20px;

		.btn_pdf {
			float: right;
			width: 118px;
		}
	}
}

.insurance_list_box {
	padding: 10px 15px;
	margin-top: 5px;
	background: #fff;

	.note_box {
		padding-bottom: 30px;
	}
}

.insurance_list {
	margin-bottom: 20px;

	.tit_box {
		margin-bottom: 10px;	
		text-align: center;
		line-height: 1;

		.sort_tit {
			display: inline-block;
			vertical-align: top;
			font-size: $fz16px;
			color: $color_level1;
			font-weight: 700;
		}

		.number {
			display: inline-block;
			margin-left: 10px;
			font-size: $fz14px;
			vertical-align: top;
			color: #777;
			font-weight: 400;
			strong{
				font-size: $fz15px;
				font-weight: 700;
			}
		}
	}

	.list_box{
		border:1px solid #d5d5d5;
		border-radius: 8px;
		.insurance{
			margin-bottom: -1px;
			border-bottom:1px solid #ededed;
			&:last-child{
				border-bottom: none;
			}
			.logo{
				&:after{
					position: absolute;
					top: -18px;
					right:0px;
					display: inline-block;
					content: "";
					width: 24px;
					height: 9px;
					background: url(/resources/images/gu.renew.contents/icon_arrow.png) no-repeat 0 0;
					background-size: 100% auto;
				}
			}
		}
	}

	&.check_list {
		.list_box{
			border:none;
			border-radius: 0;
		}

		.insurance {
			width:100%;
			margin-bottom: 0px;
			border: 1px solid #d5d5d5;
			border-radius: 8px;
			margin-bottom: 10px;
			padding: 10px 15px 10px 20px;

			&:last-child{
				border-bottom: 1px solid #d5d5d5;
			}

			&:after {
				display: block;
				position: absolute;
				top: -1px;
				left: -1px;
				width: 31px;
				height: 31px;
				background: url(/resources/images/gu.renew.common/checkbox02_off.png) no-repeat 0 0;
				background-size:100% auto;
				content: "";
			}

			&.checked {
				&:before {
					display: block;
					position: absolute;
					z-index: 10;
					top: -1px;
					left: -1px;
					width: 100%;
					height: 100%;
					border: 1px solid #fd5856;
					border-radius: 8px;
					content: "";
					box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.12);
				}

				&:after {
					background: url(/resources/images/gu.renew.common/checkbox02_on.png) no-repeat 0 0;
					background-size:100% auto;
				}
			}
		}
	}

	.insurance {
		display: block;
		position: relative;
		padding: 10px 15px;
		
		
		&:last-child {
			margin-bottom: 0;
		}

		.name {
			margin-bottom: 6px;
			font-size: $fz15px;
			letter-spacing: -0.05em;
			color: #010101;
		}

		.payment_info {
			@include clearline();

			.state {
				float: left;
				display: inline-block;
				height: 18px;
				margin-right: 10px;
				padding: 0 10px;
				border-radius: 5px;
				background: #ffeceb;
				font-size: $fz12px;
				line-height: 18px;
				text-align: center;
				color: #fd795b;
			}

			.info {
				float: left;
				line-height: 20px;

				.payment {
					font-size: $fz12px;

					strong {
						font-size: $fz15px;
					}

					span {
						margin-left: 10px;
						color: $color_level4;
					}
				}

				.date {
					letter-spacing: -0.05em;
					font-size: $fz12px;
					color: $color_level4;
				}
			}
		}

		.logo {
			display: block;
			position: absolute;
			right: 15px;
			top: 55px;
			height: 18px;

			img {
				height: 100%;
			}
		}


		&.disabled {
			.logo {
				/*! _gray v1.6.0 (https://github.com/karlhorky/gray) | _m_i_t */
				.grayscale {
					opacity: 0.7;
					filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><fe_color_matrix type='saturate' values='0'/></filter></svg>#grayscale");
					-webkit-filter: grayscale(1);
					filter: grayscale(1);
					filter: gray;
				}
			}

			.name {
				color: $color_level5;
			}

			.payment_info{
				.state {
					background: #e7e7e7;
					color: $color_level5;
				}
				.date {
					color: $color_level5;
				}
				.payment{
					color: $color_level4;
				}
			}
		}

		&.no_insurance {
			display: table;
			width: 100%;
			height: 80px;
			border:1px solid #d5d5d5;
			border-radius: 8px;
			text-align: center;

			&:hover {
				&:before {
					display: none;
				}
			}

			> div {
				display: table-cell;
				font-size: $fz13px;
				vertical-align: middle;
				color: $color_level5;
			}
		}
	}

	.btn_contract_add {
		display: block;
		position: relative;
		margin-bottom: 10px;
		padding: 28px 0 25px;
		border: 1px solid #ededf4;
		border-radius: 10px;
		background: #fff;
		font-size: $fz20px;
		text-align: center;
		letter-spacing: -0.075em;
		color: $color_level2;

		&:before {
			display: block;
			width: 38px;
			height: 38px;
			margin: 0 auto 12px;
			border: 1px solid #e0e4eb;
			border-radius: 50%;
			background: url(/resources/images/gu.renew.common/icon_add.png) no-repeat center center;
			content: "";
		}
	}
}

.insurance_list2 {
	padding: 0 15px;
	background: #fff;

	.insurance {
		padding: 10px 0 15px;
		border-top: 1px solid #f0f3f8;
		letter-spacing: -0.05em;

		&:last-child {
			border-bottom: none;
		}

		@include clearline();

		.info {
			.logo {
				height: 20px;
				margin-bottom: 5px;

				img {
					height: 100%;
				}
			}

			.name {
				font-size: $fz13px;
				line-height: 18px;
				color: $color_level3;
			}
		}

		.sum_info {
			margin-top: 5px;

			.title {
				display: inline-block;
				height: 25px;
				padding: 0 10px;
				border-radius: 12px;
				background: #f0f3f8;
				font-size: $fz12px;
				line-height: 27px;
				color: #3c444d;
			}

			.sum {
				float: right;
				font-size: $fz12px;
				line-height: 27px;
				color: $color_level3;
			}
		}
	}
}


/* 유의사항 */
.note_box {
	padding: 15px 0 0;
	border-top: 1px solid #cad2db;

	dl {
		letter-spacing: -0.075em;

		dt {
			margin-bottom: 5px;
			font-size: $fz14px;
			color: $color_level2;
		}

		dd {
			margin-bottom: 5px;
			font-size: $fz14px;
			line-height: 20px;
			color: $color_level4;
		}
	}
}

/* layer_pop_wrap */
.layer_pop_wrap {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	border-radius: 10px;
	background: #fff;

	.layer_pop_header {
		height: 58px;
		padding-top: 15px;
		border-bottom: 1px solid $line_color3;
		font-size: $fz22px;
		text-align: center;
		color: $color_level1;

		.dot {
			display: inline-block;
			margin: -4px 4px 0;
			vertical-align: top;
		}
	}

	.layer_pop_content {
		padding: 0 40px 30px;

		.table_scroll {
			margin: 0 -15px 0 0;
		}
	}

	.btn_close {
		position: absolute;
		top: 10px;
		right: 23px;
	}

	.note_box {
		padding-top: 20px;
		border-top: none;

		dd {
			font-family: 'dotum';
			font-size: $fz12px;
		}
	}

	.btn_area {
		text-align: center;
	}
}

.pop_alert {
	width: 380px;
	height: 255px;

	.center_box {
		display: table;
		width: 100%;
		height: 127px;
		text-align: center;

		> div {
			display: table-cell;
			font-size: $fz20px;
			vertical-align: middle;
			letter-spacing: -0.075em;
			color: $color_level2;
		}

		.input_set {
			margin: 0 5px;

			input {
				width: 100%;
				height: 38px;
				padding: 0 0 0 15px;
				outline: none;
				background: transparent;
				line-height: 38px;
			}

			&.placeholder {
				color: $color_level5;
			}

			&::placeholder {
				color: $color_level5;
			}

			&::-ms-input-placeholder {
				color: $color_level5;
			}

			&::-webkit-input-placeholder {
				color: $color_level5;
			}

			&::-moz-placeholder {
				color: $color_level5;
			}
		}
	}
}

.pop_insurance_detail {
	width: 782px;

	.insurance_detail {
		height: 200px;
		margin: 0 -40px;
		border-bottom: 1px solid $line_color3;
		overflow: hidden;

		.insurance_info {
			position: relative;
			float: left;
			width: 490px;
			height: 100%;
			padding: 34px 30px 0 40px;
			border-right: 1px solid $line_color3;

			.logo {
				margin-bottom: 5px;
			}

			.tit {
				margin-bottom: 5px;
				font-size: $fz20px;
				color: #000;
			}

			.number {
				margin-bottom: 10px;
				font-size: $fz16px;
				line-height: 1;
				color: $color_level4;

				.tit {
					margin-right: 6px;
					font-size: $fz14px;
					color: $color_level2;
				}
			}

			.date {
				font-size: $fz16px;
				color: $color_level4;

				.state {
					display: inline-block;
					width: 47px;
					height: 22px;
					margin-right: 10px;
					border-radius: 5px;
					background: #ffeeed;
					font-size: 0.875rem;
					line-height: 20px;
					text-align: center;
					color: #fd795c;

					&.cancel {
						background: #e7e7e7;
						color: $color_level4;
					}
				}
			}

			.payment {
				position: absolute;
				right: 30px;
				bottom: 48px;
				text-align: right;
				letter-spacing: -0.075em;

				.tit {
					font-size: $fz14px;
					color: $color_level5;
				}

				.price {
					font-size: $fz20px;
					font-weight: 500;
					color: $color_level2;

					strong {
						font-size: $fz22px;
						font-weight: 500;
					}
				}
			}
		}

		.payment_info {
			float: left;
			width: 292px;
			height: 100%;
			padding: 22px 50px 0 30px;

			.normal {
				.count_bar_box {
					margin-bottom: 10px;
					padding-top: 37px;

					.bar_rail {
						position: relative;
						border-radius: 5px;
						background: #f0f3f8;

						.bar {
							position: relative;
							width: 0;
							height: 6px;
							border-radius: 5px;
							background: #02a7c5;
							transition: all 1.2s;
						}

						.percent {
							position: absolute;
							right: 0;
							bottom: 17px;
							width: 50px;
							height: 27px;
							margin-right: -25px;
							border-radius: 15px;
							background: #02a7c5;
							font-weight: 500;
							line-height: 27px;
							text-align: center;
							color: #fff;

							&:after {
								display: block;
								position: absolute;
								bottom: -4px;
								left: 50%;
								margin-left: -4px;
								border-top: 4px solid #02a7c5;
								border-right: 4px solid transparent;
								border-left: 4px solid transparent;
								content: "";
							}
						}
					}

					.now {
						font-size: $fz14px;
						color: #02a7c5;
					}

					.last {
						float: right;
						font-size: $fz14px;
						color: $color_level4;
					}
				}

				.pay_list {
					margin-bottom: 5px;

					li {
						overflow: hidden;

						.tit {
							float: left;
							font-size: $fz14px;
							letter-spacing: -0.075em;
							color: $color_level5;
						}

						.txt {
							float: right;
							font-size: $fz16px;
							font-weight: 500;
							color: $color_level4;

							&.complete {
								color: $color_level2;
							}

							strong {
								font-weight: 500;
							}
						}
					}
				}

				.text {
					font-family: 'dotum';
					font-size: $fz12px;
					letter-spacing: -0.06em;
					color: $color_level4;
				}
			}

			.cancel {
				display: table;
				height: 100%;
				padding: 0 0 20px 30px;
				text-align: center;
				letter-spacing: -0.075em;

				.text {
					display: table-cell;
					font-size: $fz18px;
					line-height: 28px;
					vertical-align: middle;
					color: $color_level5;

					.title {
						display: block;
					}
				}
			}
		}
	}

	.tab_wrap {
		padding: 30px 0px 0px;

		.tab_list {
			width: 700px;
			margin: 0 auto 20px;
		}

		.tab_content {
			display: none;
			width: 700px;

			&.on {
				display: block;
			}
		}
	}

	.basic_type {
		width: 700px;
	}

	.table_scroll {
		height: 370px;

		.basic_type {
			thead {
				position: absolute;
				left: -9999px;
			}
		}
	}
}

.pop_security_set {
	width: 660px;

	.layer_pop_content {
		padding: 20px 40px 30px;
	}

	.table_scroll {
		height: 535px;

		.basic_type {
			thead {
				position: absolute;
				left: -9999px;
			}
		}
	}

	.basic_type {
		width: 580px;

		th, td {
			vertical-align: middle;
		}

		th {
			.select {
				position: relative;

				&::after {
					display: inline-block;
					position: absolute;
					top: 3px;
					right: -20px;
					width: 16px;
					height: 12px;
					background: url(/resources/images/gu.renew.common/icon_checked.png) no-repeat 0 0;
					content: "";
				}
			}
		}

		.check_box_set {
			line-height: 1;
		}
	}

	.btn_area {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $line_color1
	}
}

.pop_conditional_contract {
	width: 782px;

	.search_condition {
		margin: 0 -40px 30px;;
		padding: 20px 25px;
		background: #f0f3f8;
		text-align: center;

		.sorting_list {
			margin-bottom: 15px;
			line-height: 1;
			overflow: hidden;

			li {
				display: inline-block;
				margin: 0 12px;

				label {
					font-size: $fz16px;
					color: $color_level2;
				}
			}
		}

		.date {
			font-size: $fz16px;
			color: $color_level2;
		}
	}

	.insurance_list {
		width: 702px;
		margin-bottom: 0;
	}

	.insurance {
		height: 110px;
		margin-bottom: 10px !important;
		border: 1px solid $line_color3;
		border-radius: 8px;

		&:hover::before {
			display: none;
		}

		.info {
			position: relative;
			width: 460px;
			padding: 0px 30px 0;
			border-right: 1px solid $line_color3;

			.name {
				margin-bottom: 15px;
			}

			.btn_edit {
				position: absolute;
				right: 25px;
				bottom: 27px;
			}
		}

		.payment {
			width: 240px;
			padding: 0px 30px 0;
		}
	}

	.contract_scroll {
		height: 515px;
		margin: 0 -15px 0px 0;
	}

	.btn_area {
		padding-top: 20px;
		border-top: 1px solid #e0e4ea;
	}
}

/* tab_content */
.tab_content {
	display: none;

	&.on {
		display: block;
	}
}

/* basic_type */
.basic_type {
	thead {
		th {
			padding: 9px 10px;
			border-bottom: 1px solid $line_color1;
			font-size: $fz14px;
			text-align: center;
			color: $color_level2;
		}
	}

	tbody {
		th {
			padding: 9px 10px;
			border-bottom: 1px solid #ededf4;
			font-size: $fz14px;
			font-weight: 500;
			letter-spacing: -0.05em;
			color: $color_level4;
		}

		td {
			padding: 9px 10px;
			border-bottom: 1px solid #ededf4;
			font-size: $fz14px;
			letter-spacing: -0.05em;
			color: $color_level4;
		}
	}
}

/* btn_circle */
.btn_circle {
	display: inline-block;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background-color: #f0f3f8;
	background-position: 0 0;
	background-size: 100%;
	text-indent: -9999px;

	> span {
		display: inline-block;
	}

	&.on {
		border: none;
		background-color: #ffe4e3;
	}

	&.like {
		background-image: url(/resources/images/gu.renew.common/icon_like_off.png);
	}

	&.like.on {
		background-image: url(/resources/images/gu.renew.common/icon_like_on.png);
	}

	&.analysis {
		background-image: url(/resources/images/gu.renew.common/icon_analysis_off.png);
	}

	&.analysis.on {
		background-image: url(/resources/images/gu.renew.common/icon_analysis_on.png);
	}

	&.agree {
		background-image: url(/resources/images/gu.renew.common/icon_agree_off.png);
	}

	&.agree.on {
		background-image: url(/resources/images/gu.renew.common/icon_agree_on.png);
	}
}

.btn_edit {
	font-size: $fz14px;
	letter-spacing: -0.025em;
	color: $color_level2;

	&:before {
		display: inline-block;
		width: 18px;
		height: 21px;
		margin-right: 8px;
		background: url(/resources/images/gu.renew.common/icon_edit_off.png) no-repeat 0 0;
		content: "";
		vertical-align: top;
	}

	&:hover {
		color: #01a7c4;

		&:before {
			background: url(/resources/images/gu.renew.common/icon_edit_on.png) no-repeat 0 0;
		}
	}
}

.btn_text_arr {
	font-size: $fz12px;
	color: #3c444d;

	:after {
		display: inline-block;
		width: 6px;
		height: 6px;
		margin: -6px 0 0 5px;
		border-right: 1.5px solid #9a9fa6;
		border-bottom: 1.5px solid #9a9fa6;
		content: "";
		-webkit-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 66% 66%;
		transform-origin: 66% 66%;
		vertical-align: middle;
		pointer-events: none;
	}
}

/*팝업 컨설팅 전후 비교*/
.consulting_wrap {
	width: 700px;

	> .title {
		margin-top: 33px;
		font-size: $fz30px;
		font-weight: 300;
		line-height: $fz40px;
		text-align: center;
		letter-spacing: -2px;
		color: $color_level2;

		strong {
			font-weight: 500;
		}

		.icon {
			display: inline-block;
			height: 34px;
			transform: translate(0, 3px);
			vertical-align: top;
		}
	}

	> .text {
		margin-top: 22px;
		font-size: $fz24px;
		font-weight: 300;
		text-align: center;
		letter-spacing: -2px;
		color: $color_button_red;
	}

	.box_area {
		margin-top: 20px;
		@include clearline;
		border: 1px solid $line_color3;
		border-radius: 10px;

		.box {
			position: relative;
			float: left;
			width: 50%;
			height: 581px;
			margin: -1px 0;
			border: 2px solid transparent;
			text-align: center;

			&.after {
				border: 2px solid #3c454e;
				border-radius: 10px;
				background: #f8f8f8;
			}

			> .title {
				margin-top: 33px;
				font-size: $fz20px;
				line-height: $fz30px;
				text-align: center;
				color: $color_level2;

				.icon {
					display: inline-block;
					height: 34px;
					transform: translate(0, 3px);
					vertical-align: top;
				}
			}

			.info_grid {
				position: relative;
				width: 250px;
				margin: 25px auto 15px auto;
				padding-bottom: 48px;
				text-align: left;

				&:after {
					display: block;
					position: absolute;
					right: 0;
					bottom: 0px;
					left: 0;
					width: 36px;
					height: 3px;
					margin: 0 auto;
					border-radius: 3px;
					background: #01a7c4;
					content: "";
				}
			}

			.graph_area {
				position: relative;
				height: 217px;

				&:after {
					display: block;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #fff;
					content: "";
					opacity: 0;
				}
			}

			.info_box {
				display: table;
				margin: 25px auto 0 auto;
				padding: 18px 20px;
				border: 1px solid $line_color2;
				border-radius: 13px;
				font-size: 0;
				line-height: 1;
				text-align: center;

				li {
					display: inline-block;
					padding: 0 18px;
					line-height: 1;
					text-align: center;

					.tit {
						display: block;
						font-size: $fz16px;
					}

					.number {
						display: block;
						margin-top: 8px;
						font-size: $fz24px;
						font-weight: 700;
					}

					&.all {
						color: $color_level2;
					}

					&.no {
						color: #7c838f;
					}

					&.lack {
						color: $color_button_red;
					}

					&.good {
						color: #01a7c4;
					}
				}
			}
		}
	}
}

/*그래프*/
.consulting_list {
	padding:0 17px;
	> li {
		padding-bottom: 15px;
	}

	.item {
		position: relative;
		height: 325px;
		border-radius: 5px;
		background: #ffffff;

		> .title {
			padding-top: 20px;
			font-size: $fz16px;
			line-height: 1;
			text-align: center;
			color: $color_level2;
		}

		.graph_area {
			position: relative;
			height: 275px;

			&:after {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 44.1vw;
				height: 44.1vw;
				border: 2px solid #b4dad7;
				border-radius: 50%;
				box-sizing: border-box;
				content: "";
				transform: translate(-50.5%, -56.6%);
			}
		}

		.bottom_info {
			@include clearline;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 5px 20px 5px 40px;
			text-align: center;
			display:table;
			font-size: 0;

			li {
				display: inline-block;
				margin-right: 10px;
				line-height: 18px;
				letter-spacing: -1px;

				&:last-child {
					margin-right: 0;
				}

				&.before {
					padding-left: 18px;
					background: url("/resources/images/gu.renew.contents/icon_before.png") no-repeat left center;
					font-size: $fz11px;
					color: $color_level2;
				}

				&.after {
					margin-right: 15px;
					padding-left: 18px;
					background: url("/resources/images/gu.renew.contents/icon_after.png") no-repeat left center;
					font-size: $fz11px;
					color: $color_level2;
				}

				&.payment {
					padding: 0 5px;
					border-radius: 3px;
					border:1px solid #b8e0dc;
					font-size: $fz11px;
					color: #01a7c4;
					line-height: 16px;
				}
			}
		}
	}
}

/* 진단/상세 */
.insurance_all_state {
	.all_state_icon {
		padding: 20px 16px;
		background: #fff;

		.list {

			> li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				.state_tit {
					margin-bottom: 8px;
					font-size: $fz13px;
					line-height: 1;
					letter-spacing: -0.075em;
					color: $color_level2;
				}

				ul {
					@include clearline();
					margin: -10px -10px 0 0;
				}

				li {
					float: left;
					margin: 10px 10px 0 0;

					&:last-child {
						margin-right: 0;
					}
				}

				.btn_state {
					position: relative;
					width: 74px;
					height: 64px;

					&:active:before {
						display: block;
						position: absolute;
						z-index: 5;
						top: 0px;
						left: 0;
						width: calc(100% - 4px);
						height: calc(100% - 4px);
						border: 2px solid #fe5855;
						border-radius: 10px;
						content: "";
						transition: none;
						box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.12);
					}

					> span {
						display: block;
						height: 100%;
						padding: 15px 0px 0;
						border-radius: 6px;
						line-height: 1;
						text-align: center;
					}

					.tit {
						display: block;
						margin-bottom: 6px;
						font-size: $fz12px;
						letter-spacing: -0.075em;
						color: $color_level1;
					}

					.state {
						display: inline-block;
						font-size: $fz18px;
						font-weight: 700;
					}

					&.lack {
						> span {
							background: #ffe4e3;
						}

						.state {
							color: #ff4858;
						}
					}

					&.no_join {
						> span {
							background: #cacaca;
						}

						.state {
							color: #777;
						}
					}

					&.enough {
						> span {
							background: #c4f8f2;
						}

						.state {
							color: #01a7c4;
						}
					}
				}
			}
		}
	}

	.tab_type_list {
		position: absolute;
		top: 772px;
		left: 0;
		width: 782px;
		background: #f0f3f8;

		.sort_list {
			ul {
				@include clearline();
				margin: 1px 1px 0 0;

				li {
					position: relative;
					float: left;
					width: 131px;
					margin: -1px -1px 0 0;

					&.active {
						.sort {
							z-index: 5;
						}

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border-radius: 3px;
							background: #3c444d;
							content: "";
						}

						.sort {
							color: #fff;
						}
					}

					.sort {
						width: 100%;
						padding: 5px;
						border: 1px solid $line_color3;
						background: #fff;
						font-size: $fz14px;
						text-align: center;
						vertical-align: top;
						color: $color_level2;
					}
				}
			}
		}
	}

	.state_info {
		padding: 20px 15px;

		.tit_area {
			position: relative;
			margin-bottom: 12px;

			.tit {
				font-size: $fz16px;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				color: $color_level2;

				.state {
					display: inline-block;
					height: 18px;
					margin-top: -1px;
					padding: 0 10px;
					border-radius: 8px;
					font-size: $fz12px;
					line-height: 18px;
					vertical-align: top;
					letter-spacing: -0.025em;
					color: #fff;

					&.lack {
						background: #fe5855;
					}

					&.enough {
						background: #01a7c4;
					}

					&.no_join {
						background: #cacaca;
					}
				}
			}

			.btn_text_arr {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.state_item {
			margin-bottom: 10px;
			border-radius: 8px;
			overflow: hidden;

			&:last-child {
				margin-bottom: 0;
			}

			&.open {
				.btn_info {
					.info {
						border-bottom: 1px solid #f0f3f8;
					}

					.state {
						.txt {
							&:after {
								border-color: #fd5854;
								transform: rotate(-135deg);
							}
						}
					}
				}
			}

			.btn_info {
				width: 100%;
				padding: 15px;
				background: #fff;
				overflow: hidden;

				.info {
					height: 100%;

					.sort_tit {
						line-height: 1;

						.tit {
							font-size: $fz15px;
							font-weight: 500;
							letter-spacing: -0.075em;
							color: $color_level1;
						}

						.count_info {
							float: right;
							font-size: $fz15px;
							letter-spacing: -0.075em;
							color: $color_level2;

							strong {
								font-size: $fz16px;
								font-weight: 600;
							}
						}
					}

					.count_bar_box {
						margin-bottom: 15px;
						padding-top: 18px;
						@include clearline;

						.bar_rail {
							position: relative;
							border-radius: 5px;
							background: #eee;

							.bar {
								position: relative;
								width: 0;
								height: 10px;
								border-radius: 5px;
								transition: all 1.2s;
							}

							.percent {
								position: absolute;
								right: 0;
								bottom: 12px;
								font-size: $fz12px;
								font-weight: 600;
								text-align: center;
								letter-spacing: -0.025em;

								em {
									font-weight: 600;
								}
							}
						}

						.txt_box {
							margin-top: 8px;
							line-height: 1;

							.left_txt {
								font-size: $fz12px;
								color: $color_level2;
							}

							.right_txt {
								float: right;
								font-size: $fz12px;
								color: $color_level2;
							}
						}
					}
				}

				.state {
					height: 42px;
					padding: 10px 0 0;
					border-radius: 8px;
					font-size: 0;
					text-align: center;

					.icon {
						display: inline-block;
						width: 22px;
						height: 22px;
						margin: 0 10px 0 0;
						vertical-align: middle;
					}

					.txt {
						display: inline-block;
						position: relative;
						margin-top: 3px;
						font-size: $fz17px;
						font-weight: 700;
						line-height: 1;
						vertical-align: middle;
						letter-spacing: -0.05em;

						strong {
							display: inline-block;
							margin-top: -2px;
							font-size: $fz20px;
							font-weight: 700;
							vertical-align: top;
						}

						&:after {
							display: inline-block;
							width: 8px;
							height: 8px;
							margin: -6px 0 0 10px;
							border-right: 2px solid #3c444d;
							border-bottom: 2px solid #3c444d;
							content: "";
							-webkit-transition: all 0.15s ease-in-out;
							transition: all 0.15s ease-in-out;
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
							-webkit-transform-origin: 66% 66%;
							transform-origin: 66% 66%;
							vertical-align: middle;
							pointer-events: none;
						}

					}
				}

				&.lack {
					.info {
						.percent {
							color: #ff4858;
						}

						.bar {
							background: #ff4858;
						}
					}

					.state {
						background: #ffe4e3;
						color: #ff4858;

						.icon {
							background: url(/resources/images/gu.renew.contents/icon_all_state_lack.png) no-repeat 0 0;
							background-size: 100%;
						}
					}

				}

				&.enough {
					.info {
						.percent {
							color: #01a7c4;
						}

						.bar {
							background: #01a7c4;
						}
					}

					.state {
						background: #d2edff;
						color: #01a7c4;

						.icon {
							background: url(/resources/images/gu.renew.contents/icon_all_state_enough.png) no-repeat 0 0;
							background-size: 100%;
						}
					}

				}

				&.no_join {
					.info {
						.percent {
							right: -26px !important;
							color: #777;

						}

						.bar {
							background: #eee;
						}
					}

					.state {
						background: #cacaca;
						color: #777;

						.icon {
							background: url(/resources/images/gu.renew.contents/icon_all_state_no_join.png) no-repeat 0 0;
							background-size: 100%;
						}
					}

				}
			}

			.insurance_list2 {
				display: none;
			}
		}
	}

}

/* 가입현황 - 상세내역 */
.full_pop{	
	background: #f3f3f3;
	.top_area{	
		padding-top: 0;	
		background: #666;
		.inner{
			position: relative;
			padding:18px 40px 0;
			height:48px;
			.btn_prev{
				position: absolute;
				top:50%;
				left:10px;
				display: block;
				width:25px;
				height: 25px;
				background: url(/resources/images/gu.renew.common/btn_icon_prev.png) no-repeat 0 0;
				background-size:100% auto;
				margin-top:-12px;
			}
			.title{
				font-size:$fz17px;
				color:#f0f3f8;
				text-align: center;
				line-height: 1;
				@include ellipsis();
			}
		}
		&:after{
			display:block;
			content: "";
			height:15px;
			background: #f3f3f3;
			border-radius: 15px 15px 0 0;
		}
	}
}
.insurance_detail_info{
	padding: 0 15px 25px;
	.inner{
		background: #fff;
		border-radius: 8px;
		padding:15px;
		
		.payment_info{
			.payment{
				display: inline-block;
				font-size: $fz15px;
				color: $color_level1;
				margin-right: 5px;
				vertical-align: top;
				strong{
					font-size: $fz20px;
					font-weight: 700;
				}
			}
			.info{
				display: inline-block;
				font-size: $fz12px;
				color: $color_level4;
				vertical-align: top;
				margin-top:2px;
				.txt{
					color: $color_level1;
					strong{
						font-size: $fz13px;
						font-weight: 400;
					}
				}
			}
			.logo{
				float: right;
				display: inline-block;
				height:18px;
				margin-top:3px;
				img{
					height:100%;
				}
			}
		}
		.count_bar_box {
			margin: 5px 0 0px;

			.bar_rail {
				position: relative;
				border-radius: 8px;
				background: #eee;

				.bar {
					position: relative;
					width: 0;
					height: 17px;
					border-radius: 8px;
					background: #02a7c5;
					transition: all 1.2s;
					text-align: right;
					line-height: 1;
					font-size: $fz12px;
				}

				.percent {
					height: 17px;
					font-weight: 500;
					line-height: 18px;
					padding-right: 10px;
					text-align: center;
					color: #fff;
				}
			}
			
			.txt_box {
				margin: 5px 0 3px;
				line-height: 1;
				@include clearline();

				.left_txt {
					float: left;
					width:50%;
					font-size: $fz12px;
					color: $color_level2;
					.no{
						color:#01a7c4;
					}
				}

				.right_txt {
					float: right;
					width:50%;
					font-size: $fz12px;
					color: $color_level2;
					text-align: right;
					.no{
						color:$color_level4;
					}
				}

				.no{					
					margin-bottom:8px;
					strong{
						font-weight: 700;
						font-size:$fz13px;
					}
				}
				.txt{
					color: $color_level3;
					font-size:$fz12px;					
					letter-spacing: -0.05em;
					strong{
						color: $color_level2;
						margin-left:3px;
						font-weight: 400;
					}
				}
			}
			.point_txt{
				font-size:$fz10px;
				color:$color_level4;
				letter-spacing: -0.05em;
				line-height: 17px;
			}
		}
		.etc_info{	
			position: relative;		
			@include clearline();
			padding-top:10px;
			margin-top:10px;
			&:before{
				position: absolute;
				top:0px;
				left:-15px;
				display: block;
				content: "";
				width:calc(100% + 30px);
				border-top: 1px dotted #d8d8d8;
			}

			>div{
				>div{
					font-size:$fz12px;
					color:$color_level4;
					letter-spacing: normal;
					line-height: 1;
					margin-top: 5px;
				}
			}
			.left_txt{
				float: left;
				width:50%;
				.state{
					@include state();
				}
			}
			.right_txt{				
				float: left;
				width:50%;
				padding-left:8px;
				.tit{
					@include state();
					background: #eee;
					color:$color_level4;
				}
			}
		}
	}
}

.insurance_detail_tab{
	.tab_list{	
		padding:0 15px;
		border-bottom: 1px solid #d5d5d5;
		background: #f3f3f3;
		ul{
			@include clearline();
			margin-bottom: -1px;
			li{			
				float: left;
				margin-right:17px;			
				line-height: 1;
				&:last-child{
					margin-right: 0;
				}
				.tab{
					position: relative;
					font-size:$fz15px;
					color:$color_level4;
					letter-spacing: -0.05em;
					padding-bottom: 8px;
					&.active{
						font-weight: 700;
						color:$color_level2;
						&:after{
							position: absolute;
							left:0;
							bottom:0;
							display: block;
							content:"";
							width:100%;
							height:2px;
							background: #333;
						}
					}
				}
			}
		}
	}
}
.insurance_detail_tab_cont{
	background: #fff;
	padding:0 15px;
	.tab_cont{
		display: none;
		&.active{
			display:block;
		}
	}
	.list{
		.item{
			border-bottom: 1px solid #ededed;
			padding: 10px 0 10px;
			line-height: 1;
			@include clearline();
			.tit_info{
				float: left;
				width:75%;
				font-size: $fz12px;
				color: #555;
				letter-spacing: -0.05em;
				line-height: 20px;
				padding-left: 9px;
				.tit{
					position: relative;
					display: block;
					font-weight: 700;
					&:before{
						position: absolute;
						top: 50%;
						left: -7px;
						margin-top: -1px;
						display: inline-block;
						content: "";
						width: 2px;
						height: 2px;
						background: #555;
					}
				}
			}
			.state_info{
				float: right;
				width:25%;
				text-align:right;
				font-size: $fz12px;
				span{
					display: block;
					&.state{
						display: inline-block;
						color: #ff4858;
						background: #ffe4e3;
						height: 18px;
						line-height: 20px;
						padding:0 10px;
						border-radius: 3px;
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}
