@charset 'UTF-8';

/* ******************************************************
 * 퍼블리싱 가이드를 위한 스타일 정의이며, 개발 화면에 넣지 않습니다!!!
 * 실제 사용되는(개발에서 사용되는) 클래스와 구분을 짓기 위해 클래스명 앞에 'gg_'를 붙여줌
* ***************************************************** */

@font-face{
	font-family:'NanumSquare';
	font-weight:400;
	src:url(font/NanumSquareR.eot);
	src:url(font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
	url(font/NanumSquareR.woff) format('woff'),
	url(font/NanumSquareR.ttf) format('truetype');
}

@font-face{
	font-family:'NanumSquare';
	font-weight:700;
	src:url(font/NanumSquareB.eot);
	src:url(font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
	url(font/NanumSquareB.woff) format('woff'),
	url(font/NanumSquareB.ttf) format('truetype');
}

body{overflow-y:auto;}

.wrap_page.wrap_guide{min-height:100vh;font-family:'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;}

.wrap_page.wrap_guide{min-height:100vh;background:#f8f8fa;background:#fff;}

.wrap_page.wrap_guide .header{}

.wrap_page.wrap_guide .header .header_inner{background:#333;background:#5d52f4;border-color:#5d52f4;z-index:95;background:#fb4357;border-color:#fb4357;}

.wrap_page.wrap_guide .header h1{margin-top:1px;color:#fff; /*font-size:1.0rem;*/line-height:48px;font-weight:bold;letter-spacing:0;text-align:center;font-family:'NanumSquare', 'Roboto', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;}

.gg_blue{color:rgba(91, 79, 247, 1.0);color:#5b4ff7 !important;}

.gg_red{color:rgba(239, 69, 90, 1.0);color:#ef455a !important;}

.gg_black{color:rgba(34, 36, 42, 1.0);color:#22242a !important;}

.gg_gray, .gg_grey{color:rgba(164, 169, 190, 1.0);color:#a4a9be !important;}

.gg_bg_yellow{background-color:rgba(255, 255, 0, .1)}

.gg_tit1{display:block;margin:30px 15px 10px;box-sizing:border-box;color:#181818;font-size:1.5rem;font-weight:700;font-family:'NanumSquare', 'Roboto', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;}

.gg_tit2{display:block;margin:30px 15px 10px;box-sizing:border-box;color:#353535;font-size:1.125rem;font-weight:bold;font-family:'NanumSquare', 'Roboto', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;}

.gg_tit1 + .gg_tit2{margin-top:20px}

.gg_tit3{display:block;margin:0 0 10px;box-sizing:border-box;color:#353346;font-size:1.0rem;font-weight:bold;font-family:'NanumSquare', 'Roboto', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;}

.gg_info{margin:15px 15px 15px 15px;color:#0f1119;font-size:13px; /*padding:10px;border:1px dashed rgba(164,169,190,.5);*/}

.gg_info p{margin:3px 0;padding-left:10px;text-indent:-10px;}

.gg_info .code{}

.gg_info em{letter-spacing:0;}

.gg_info p{}

/*.gg_info > ul {border:1px solid #eee;border-width:1px 0;border-top-color:#353346;}
.gg_info > ul > li {padding:8px 0;}
.gg_info > ul > li:not(:first-child) {border-top:1px dashed #eee;}*/

.gg_info{}

.gg_info > ul > li{position:relative;padding:5px 0;padding-left:30px;}

.gg_info > ul > li{padding-left:30px;text-indent:-15px;}

.gg_info.bullet1 > ul > li{position:relative;text-indent:0;}

.gg_info.bullet1 > ul > li::before{content:'';display:block;position:absolute;top:10px;left:15px;width:4px;height:4px;border-radius:2px;background:#818181;}

.gg_info ul.bullet2 > li{position:relative;padding-left:12px;text-indent:0;}

.gg_info ul.bullet2 > li::before{content:'';display:block;position:absolute;top:10px;left:0px;width:2px;height:2px;border-radius:2px;background:#000;}

.gg_bullet2::before{content:'※';}

xmp.code{font-family:'Roboto', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;line-height:1.4;letter-spacing:-.01em;}

.gg_code{border:1px dashedrgba(164, 169, 190, .5);}

.gg_list{ /*background:#f8f8fa;*/}

.gg_list li{margin:15px 15px;}

.gg_list button.btn2{display:block;width:100%;position:relative;padding:16px 30px 16px 20px;box-sizing:border-box;border-radius:6px;font-size:12px;border:1px solid rgba(91, 79, 247, .1);background:#fff;color:#a4a9be;color:rgba(164, 169, 190, 1.0);text-align:left;box-shadow:1px 3px 10px rgba(91, 79, 247, .08);}

.gg_list button.btn2::before,
.gg_list button.btn2::after{content:'';display:block;position:absolute;top:50%;right:6px;width:9px;height:2px;margin-top:-1px;background:#8d92a3;border-radius:1px;}

.gg_list button.btn2::before{transform:rotate(-45deg) translate(-5px, -1px);}

.gg_list button.btn2::after{transform:rotate(45deg) translate(-5px, 1px);}

.gg_list button.btn2 strong{color:rgba(34, 36, 42, 1.0);color:#22242a;}

.gg_list button.btn2 .cg{color:rgba(164, 169, 190, 1.0);color:#a4a9be;}

.gg_list button.btn2 .cb{color:rgba(91, 79, 247, 1.0);color:#5b4ff7;}

.gg_list button.btn2 .cr{color:rgba(239, 69, 90, 1.0);color:#ef455a;}

.gg_list button.btn2 em + em{margin-left:5px;}

.gg_layout{margin:0 auto;padding:10px 0;}

.gg_layout p{letter-spacing:0;}

.gg_layout div{padding:10px;border:2px solid #999;color:#333;font-size:11px;line-height:1.1;}

.gg_layout div + div{margin-top:10px;}

.gg_layout .gg_label{display:inline-block;font-weight:bold;}

.gg_layout .gg_label + div{margin-top:5px;}

.gg_table{border-bottom:1px solid #f0f2f8;}

.gg_table table{width:100%;table-layout:fixed;}

.gg_table table th{padding:10px;padding-left:5px;border-top:1px solid #f0f2f8;color:#22242a;font-size:13px;font-weight:bold;}

.gg_table table td{padding:10px;border-top:1px solid #f0f2f8;font-size:13px;}

.gg_table table td em{letter-spacing:0;}

.gg_table table thead th{background:rgba(240, 242, 248, .5);text-align:center;}

.gg_folder, .gg_file{position:relative;padding-left:16px;}

.gg_folder::before, .gg_folder::after, .gg_file::before, .gg_file::after{box-sizing:border-box;}

.gg_folder::before{content:'';display:block;position:absolute;bottom:0;left:0;width:12px;height:15px;margin-right:3px;border:1px solid #efcc4b;background:#ffe791;}

.gg_folder::after{content:'';display:block;position:absolute;bottom:0;left:9px;width:4px;height:7px;border:1px solid #efcc4b;background:#ffe791;}

.gg_file::before{content:'';display:block;position:absolute;bottom:0;left:0;width:13px;height:15px;margin-right:3px;border:1px solid #9e9e9e;background:#f7f8f9;vertical-align:middle;}

.gg_file::after{content:'';display:block;position:absolute;bottom:6px;left:4px;width:5px;height:4px;border:1px solid #9e9e9e;border-width:1px 0;}

/* ******************************************************
	퍼블리싱 가이드를 위한 스타일 정의
	개발 화면에 넣지 않습니다!!!!!!!!!!!!!!!!!!!!!!!!!
* ***************************************************** */
