.align_c {
  text-align: center;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; 
}

/* customer_sort */
.customer_sort{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 20px 15px;
  height: 65px;
  background: #f0f3f8;
  z-index:5;
  .customer_total{
    font-size: $fz16px;
    color: $color_level2;
    letter-spacing: -0.075em;
    font-weight: 700;
    float: left;
    padding-top: 3px;
    strong{
      font-size: $fz18px;
      color:#fe5855;      
      font-weight: 700;
    }
  }
  .sorting{
    float: right;
    
  }
  .select_box{
    display: inline-block;
    .nice-select{
      padding: 0 37px 0 10px;
      border:1px solid #e0e4ea;
      border-radius:5px;
      font-size: $fz12px;
      color: $color_level2;
      height: 30px;
      line-height: 28px;
      letter-spacing: -0.075em;
      background: #fff;
      &:after{
          top: 50%;
          right: 15px;
          width: 7px;
          height: 7px;
          margin-top: -6px;
          border-color: #3c444d;
      }
       .option {
        min-height: 32px;
        padding-right: 10px;
        padding-left: 10px;
       }
    }
  }
  .list_type_select{    
    display: inline-block;
    vertical-align: top;
    font-size: 0;   
    
    .btn{
      display: inline-block;
      vertical-align: top;
      width: 37px;
      height: 30px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
      border: 1px solid #e0e4ea;
      position: relative;
      
      &.grid{
        background-image: url(../images/gu.renew.common/icon_type_grid.png);
        border-radius: 5px 0 0 5px;
        margin-right:-1px;
      }
      &.list{
        background-image: url(../images/gu.renew.common/icon_type_list.png);
        border-radius: 0 5px 5px 0;
      }
      &.active{
        border: 1px solid #3c444d;
        z-index: 5;
      }
    }
  }
}
.fixed{
  .customer_sort{
    position: fixed;
    left: 0;
    top: 146px;
  }
}

/* customer_list_box */
.customer_list_box{  
  padding: 65px 20px 20px 20px;
  .customer_list{
    display: none;
    &.grid_type {
      display: block;
    }
  }
  .customer_add {
    width: 100%;
    text-align: center;
    margin-top:10px;

    .btn_customer_add {
      display: block;
      padding: 45px 0 40px;
      border-radius: 10px;
      background: #fff;
      font-size: $fz15px;
      text-align: center;
      letter-spacing: -0.075em;
      color: $color_level2;
      position: relative;

      &:before {
        display: block;
        width: 29px;
        height: 29px;
        margin: 0 auto 8px;
        border: 1px solid #dfe3eb;
        border-radius: 50%;
        background: url(../images/gu.renew.common/icon_add.png) no-repeat center center;
        background-size: 14px 14px;
        content: "";
      }

      &:active:after {
        display: block;
        position: absolute;
        top: -1px;
        left: 0;
        width: calc(100% - 3px);
        height: calc(100% - 1.5px);
        border: 1.5px solid #fe5855;
        border-radius: 8px;
        content: "";
        box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.15);
        transition: none;
      }
    }
  }
} 

/* 테이블형 리스트 */
.list_table_type {
  .tbody_box {
    padding-top: 1px;
    border-radius: 10px;
    background: #fff;
    @for $i from 1 through 50 {
      >div:nth-child(#{$i}) {
        transform:translate(0, (1500+($i*30))+px);
        transition-delay:(0.1*$i)+s;
      }
    }
    &.load{
      > div {
        transform:translate(0,0);
      }
    }
    > div {
      transition:all 1s;
    }
    .item {
      position: relative;
      display: block;
      padding: 0px 20px;

      &:last-child {
        .tr{
          border-bottom: 0;
        }
      }

      &:active {
        z-index: 5;
        transition: none;
        .tr {
          border-bottom-color: transparent;
        }
      }

      &:active::before {
        display: block;
        position: absolute;
        z-index: -1;
        top: -1px;
        left: 0;
        width: calc(100% - 3px);
        height: calc(100% - 1.5px);
        border: 1.5px solid #fe5855;
        border-radius: 8px;
        content: "";
        box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.15);
        transition: none;
      }
    }

    .tr {
      border-bottom: 1px solid #ededf4;
      display: table;
      width: 100%;
      text-align: center;
    }

    .td {
      display: table-cell;
      padding: 8px 10px;
      font-size: $fz13px;
      vertical-align: middle;
      color: $color_level4;
      letter-spacing: -0.025em;

      &.name {
        width: auto;
        padding-left: 0;
        font-size:$fz15px;
        color: $color_level2;
        text-align: left;
        letter-spacing: -0.1em;  
      }
  
      &.birth {
        width: 88px;
        font-size: $fz14px;
      }
  
      &.gender {
        width: 40px;
      }
  
      &.old {
        width: 50px;
      }
    }

  }
}

/* 그리드형 리스트 */
.grid_type{
  .item{
    position: relative;
    margin:0 0 10px;    
    overflow: hidden;
    &:last-child{
      margin:0;
    }
  }
  .customer_info{
    position: relative;
    padding: 15px 20px 51px;
    display: block;        
    border-radius: 10px;
    background: #fff;
    &:active:before{
      display: block;
      position: absolute;
      top: 0px;
      left: 0;
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      border: 1.5px solid #fe5855;
      border-radius: 8px;
      content: "";
      box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.15);
      transition: none;
    }
    .name{
      font-size: $fz15px;
      color: $color_level2;
      letter-spacing: -0.075em;
      padding-right: 105px;
    }
    .info{
      color: $color_level4;
      font-size: $fz14px;
      letter-spacing: -0.025em;
      padding-right: 105px;
      line-height: 1;
      margin-bottom:20px;
      span{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
          margin-right:0
        }
      }
    }
    .list{
      &:last-child{
        @include clearline();
      }
      li{
        float: left;
        display: block;
        width: 74px;
        line-height: 15px;
        .tit{
          font-size: $fz11px;
          color: $color_level5;
          letter-spacing: -0.075em;          
        }
        .txt{
          font-size: $fz12px;
          color: $color_level3;
          letter-spacing: -0.025em;
        }
      }
    }    
  }
  .btn_box{
    
  }
  .btn_util{
    position: absolute;
    top: 17px;
    right: 20px;
  }
  .btn_util2{
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    .btn_pdf{
      float: right;
      width: 118px;
    }
  }
}

/* 가입현황 */
.customer_state_info {
  position: relative;
  width: 782px;
  margin-bottom: 30px;
  border-bottom: 1px solid #cad2db;

  .inner {
    padding: 37px 0px 30px;
    overflow: hidden;

    > div {
      position: relative;
      float: left;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 62px;
        background: #dfe3eb;
        content: "";
      }
    }

    .customer {
      width: 200px;
      margin-top: -2px;
      padding: 0 20px;
      font-size: $fz22px;
      line-height: 30px;
      color: $color_level2;

      strong {
        font-weight: 700;
      }

      &:after {
        display: none;
      }
    }

    .contract {
      width: 106px;
    }

    .payment {
      width: 215px;
      padding: 0 0 0 40px;
    }

    .state {
      padding: 0 0 0 30px;

      &:after {
        display: none;
      }

      dd > span {
        margin-right: 6px;
      }

      .shortage {
        color: #fd5854;
      }

      .enough {
        color: #01a7c4;
      }
    }

    dl {
      dt {
        margin: 3px 0 8px;
        font-size: $fz14px;
        line-height: 19px;
        letter-spacing: -0.1em;
        color: $color_level4;

        &.new {
          &:after {
            display: inline-block;
            width: 46px;
            height: 17px;
            margin-left: 5px;
            border: 1px solid #ff4858;
            border-radius: 10px;
            font-weight: 500;
            line-height: 17px;
            content: "NEW";
            text-align: center;
            letter-spacing: -0.025em;
            color: #ff4858;
          }
        }
      }

      dd {
        font-size: $fz18px;
        color: $color_level2;

        strong {
          font-size: $fz26px;
          font-weight: 700;
        }
      }
    }
  }

  .notice {
    position: relative;
    margin-top: -10px;
    padding: 0 20px 15px;
    font-size: $fz16px;
    line-height: 1;
    color: $color_level2;

    .btn_text {
      margin-left: 15px;
      background: #fff;
      letter-spacing: -0.075em;
    }
  }
}

.insurance_list_box {
  padding-top: 10px;
  .note_box {
    width: 782px;
    padding-bottom: 30px;
  }
}

.insurance_list {
  width: 782px;
  margin-bottom: 30px;

  .tit_box {
    margin-bottom: 15px;
    font-size: $fz22px;
    text-align: center;
    color: $color_level1;

    .tit {
      display: inline-block;
      vertical-align: top;
    }

    .number {
      display: inline-block;
      height: 27px;
      margin-left: 10px;
      padding: 0 10px;
      border: 1px solid #01a7c4;
      border-radius: 15px;
      font-size: $fz16px;
      line-height: 23px;
      vertical-align: top;
      color: #01a7c4;
    }
  }

  &.check_list {
    .insurance {
      &:before {
        display: none;
      }

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 41px;
        height: 41px;
        background: url(../images/gu.renew.common/checkbox02_off.png) no-repeat 0 0;
        content: "";
      }

      &.checked {
        &:before {
          display: block;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          border: 2px solid $color_button_red;
          border-radius: 8px;
          content: "";
          box-shadow: none;
        }

        &:after {
          background: url(../images/gu.renew.common/checkbox02_on.png) no-repeat 0 0;
        }
      }
    }
  }

  .insurance {
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
  
    &:hover:before {
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 2px solid #fd5856;
      border-radius: 8px;
      content: "";
      box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.12);
    }
  
    &:after {
      @include clearline();
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  
    .info {
      display: table;
      float: left;
      width: 527px;
      height: 100%;
      padding: 0px 30px 0;
      border-radius: 8px 0 0 8px;
      background: #fff;
  
      .inner {
        display: table-cell;
        vertical-align: middle;
      }
  
      .logo {
        display: block;
        height: 34px;
        margin-bottom: 5px;
  
        img {
          height: 100%;
        }
      }
  
      .name {
        margin-bottom: 6px;
        font-size: $fz20px;
        font-weight: 500;
        letter-spacing: -0.075em;
        color: $color_level2;
      }
  
      .date {
        line-height: 1;
  
        .state {
          display: inline-block;
          height: 22px;
          margin-right: 10px;
          padding: 0 10px;
          border-radius: 5px;
          background: #ffeeed;
          font-size: $fz14px;
          line-height: 20px;
          text-align: center;
          color: #fd795c;
        }
      }
    }
  
    .payment {
      display: table;
      float: right;
      width: 253px;
      height: 100%;
      padding: 0px 30px 0;
      border-radius: 0 8px 8px 0;
      background: #fff;
  
      ul {
        display: table-cell;
        vertical-align: middle;
      }
  
      li {
        display: table;
        width: 100%;
        line-height: 22px;
        color: $color_level5;
  
        span {
          display: table-cell;
          font-size: $fz14px;
        }
  
        .th {
          width: 70px;
          letter-spacing: -0.075em;
        }
  
        .td {
          text-align: right;
          letter-spacing: -0.025em;
        }
  
        &.top {
          color: $color_level2;
  
          .td {
            font-size: $fz20px;
  
            strong {
              font-size: $fz22px;
              font-weight: 700;
              letter-spacing: -0.075em;
            }
          }
        }
      }
    }
  
    &.disabled {
      .logo {
        /*! _gray v1.6.0 (https://github.com/karlhorky/gray) | _m_i_t */
        .grayscale {
          opacity: 0.45;
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><fe_color_matrix type='saturate' values='0'/></filter></svg>#grayscale");
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          filter: gray;
        }
      }
  
      .name {
        color: $color_level5;
      }
  
      .date {
        color: $color_level5;
  
        .state {
          background: #e7e7e7;
          color: $color_level5;
        }
      }
  
      .payment {
        li {
          &.top {
            color: $color_level5;
          }
        }
      }
    }
  
    &.no_insurance {
      display: table;
      border-radius: 8px;
      background: #fff;
      text-align: center;
      &:hover{
        &:before{
          display: none;
        }
      }
      > div {
        display: table-cell;
        font-size: $fz20px;
        vertical-align: middle;
        color: $color_level2;
      }
    }
  }

  .btn_contract_add {
    display: block;
    position: relative;
    width: 782px;
    height: 130px;
    margin-bottom: 10px;
    padding: 28px 0 25px;
    border: 1px solid #ededf4;
    border-radius: 10px;
    background: #fff;
    font-size: $fz20px;
    text-align: center;
    letter-spacing: -0.075em;
    color: $color_level2;

    &:before {
      display: block;
      width: 38px;
      height: 38px;
      margin: 0 auto 12px;
      border: 1px solid #e0e4eb;
      border-radius: 50%;
      background: url(../images/gu.renew.common/icon_add.png) no-repeat center center;
      content: "";
    }
  }
}

.insurance_list2 {
  padding:0 50px;
  background: #fff;
  .insurance {
    padding:17px 0;
    letter-spacing: -0.075em;
    border-bottom: 1px solid #f0f3f8;
    &:last-child{
      border-bottom: none;
    }
    @include clearline();
    .info{
      float: left;
      width:478px;
      .logo{
        height: 25px;
        margin-bottom: 5px;
        img{
          height: 100%;
        }
      }
      .name{
        font-size: $fz16px;
        color:  $color_level3;        
      }
    }
    .sum_info{
      float: right;
      width: 204px;
      padding: 0 0 0 28px;
      text-align: right;
      .title{
        font-size: $fz14px;
        color: $color_level4;
        margin-bottom: 5px;  
      }
      .txt{        
        color: $color_level4;  
        .tit{
          float: left;
        }      
        .sum{
          font-size: $fz16px;
          strong{
            font-size: $fz18px;
          }
        }
      }
    }
  }
}



/* 유의사항 */
.note_box {
  padding: 15px 0 0;
  border-top: 1px solid #cad2db;

  dl {
    letter-spacing: -0.075em;

    dt {
      margin-bottom: 5px;
      font-size: $fz14px;
      color: $color_level2;
    }

    dd {
      margin-bottom: 5px;
      font-size: $fz14px;
      line-height: 20px;
      color: $color_level4;
    }
  }
}

/* layer_pop_wrap */
.layer_pop_wrap {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #fff;

  .layer_pop_header {
    height: 58px;
    padding-top: 15px;
    border-bottom: 1px solid $line_color3;
    font-size: $fz22px;
    text-align: center;
    color: $color_level1;

    .dot {
      display: inline-block;
      margin: -4px 4px 0;
      vertical-align: top;
    }
  }

  .layer_pop_content {
    padding: 0 40px 30px;

    .table_scroll {
      margin: 0 -15px 0 0;
    }
  }

  .btn_close {
    position: absolute;
    top: 10px;
    right: 23px;
  }

  .note_box {
    padding-top: 20px;
    border-top: none;

    dd {
      font-family: 'dotum';
      font-size: $fz12px;
    }
  }

  .btn_area {
    text-align: center;
  }
}

.pop_alert {
  width: 380px;
  height: 255px;

  .center_box {
    display: table;
    width: 100%;
    height: 127px;
    text-align: center;

    > div {
      display: table-cell;
      font-size: $fz20px;
      vertical-align: middle;
      letter-spacing: -0.075em;
      color: $color_level2;
    }

    .input_set {
      margin: 0 5px;

      input {
        width: 100%;
        height: 38px;
        padding: 0 0 0 15px;
        outline: none;
        background: transparent;
        line-height: 38px;
      }

      &.placeholder {
        color: $color_level5;
      }

      &::placeholder {
        color: $color_level5;
      }

      &::-ms-input-placeholder {
        color: $color_level5;
      }

      &::-webkit-input-placeholder {
        color: $color_level5;
      }

      &::-moz-placeholder {
        color: $color_level5;
      }
    }
  }
}

.pop_insurance_detail {
  width: 782px;

  .insurance_detail {
    height: 200px;
    margin: 0 -40px;
    border-bottom: 1px solid $line_color3;
    overflow: hidden;

    .insurance_info {
      position: relative;
      float: left;
      width: 490px;
      height: 100%;
      padding: 34px 30px 0 40px;
      border-right: 1px solid $line_color3;

      .logo {
        margin-bottom: 5px;
      }

      .tit {
        margin-bottom: 5px;
        font-size: $fz20px;
        color: #000;
      }

      .number {
        margin-bottom: 10px;
        font-size: $fz16px;
        line-height: 1;
        color: $color_level4;

        .tit {
          margin-right: 6px;
          font-size: $fz14px;
          color: $color_level2;
        }
      }

      .date {
        font-size: $fz16px;
        color: $color_level4;

        .state {
          display: inline-block;
          width: 47px;
          height: 22px;
          margin-right: 10px;
          border-radius: 5px;
          background: #ffeeed;
          font-size: 0.875rem;
          line-height: 20px;
          text-align: center;
          color: #fd795c;

          &.cancel {
            background: #e7e7e7;
            color: $color_level4;
          }
        }
      }

      .payment {
        position: absolute;
        right: 30px;
        bottom: 48px;
        text-align: right;
        letter-spacing: -0.075em;

        .tit {
          font-size: $fz14px;
          color: $color_level5;
        }

        .price {
          font-size: $fz20px;
          font-weight: 500;
          color: $color_level2;

          strong {
            font-size: $fz22px;
            font-weight: 500;
          }
        }
      }
    }

    .payment_info {
      float: left;
      width: 292px;
      height: 100%;
      padding: 22px 50px 0 30px;

      .normal {
        .count_bar_box {
          margin-bottom: 10px;
          padding-top: 37px;

          .bar_rail {
            position: relative;
            border-radius: 5px;
            background: #f0f3f8;

            .bar {
              position: relative;
              height: 6px;
              border-radius: 5px;
              background: #02a7c5;
              transition:all 1.2s;
              width:0;
            }

            .percent {
              position: absolute;
              right: 0;
              bottom: 17px;
              width: 50px;
              height: 27px;
              margin-right: -25px;
              border-radius: 15px;
              background: #02a7c5;
              font-weight: 500;
              line-height: 27px;
              text-align: center;
              color: #fff;

              &:after {
                display: block;
                position: absolute;
                bottom: -4px;
                left: 50%;
                margin-left: -4px;
                border-top: 4px solid #02a7c5;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                content: "";
              }
            }
          }

          .now {
            font-size: $fz14px;
            color: #02a7c5;
          }

          .last {
            float: right;
            font-size: $fz14px;
            color: $color_level4;
          }
        }

        .pay_list {
          margin-bottom: 5px;

          li {
            overflow: hidden;

            .tit {
              float: left;
              font-size: $fz14px;
              letter-spacing: -0.075em;
              color: $color_level5;
            }

            .txt {
              float: right;
              font-size: $fz16px;
              font-weight: 500;
              color: $color_level4;

              &.complete {
                color: $color_level2;
              }

              strong {
                font-weight: 500;
              }
            }
          }
        }

        .text {
          font-family: 'dotum';
          font-size: $fz12px;
          letter-spacing: -0.06em;
          color: $color_level4;
        }
      }

      .cancel {
        display: table;
        height: 100%;
        padding: 0 0 20px 30px;
        text-align: center;
        letter-spacing: -0.075em;

        .text {
          display: table-cell;
          font-size: $fz18px;
          line-height: 28px;
          vertical-align: middle;
          color: $color_level5;

          .title {
            display: block;
          }
        }
      }
    }
  }

  .tab_wrap {
    padding: 30px 0px 0px;

    .tab_list {
      width: 700px;
      margin: 0 auto 20px;
    }

    .tab_content {
      display: none;
      width: 700px;

      &.on {
        display: block;
      }
    }
  }

  .basic_type {
    width: 700px;
  }

  .table_scroll {
    height: 370px;

    .basic_type {
      thead {
        position: absolute;
        left: -9999px;
      }
    }
  }
}

.pop_security_set {
  width: 660px;

  .layer_pop_content {
    padding: 20px 40px 30px;
  }

  .table_scroll {
    height: 535px;

    .basic_type {
      thead {
        position: absolute;
        left: -9999px;
      }
    }
  }

  .basic_type {
    width: 580px;

    th, td {
      vertical-align: middle;
    }

    th {
      .select {
        position: relative;

        &::after {
          display: inline-block;
          position: absolute;
          top: 3px;
          right: -20px;
          width: 16px;
          height: 12px;
          background: url(../images/gu.renew.common/icon_checked.png) no-repeat 0 0;
          content: "";
        }
      }
    }

    .check_box_set {
      line-height: 1;
    }
  }

  .btn_area {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $line_color1
  }
}

.pop_conditional_contract {
  width: 782px;

  .search_condition {
    margin: 0 -40px 30px;;
    padding: 20px 25px;
    background: #f0f3f8;
    text-align: center;

    .sorting_list {
      margin-bottom: 15px;
      line-height: 1;
      overflow: hidden;

      li {
        display: inline-block;
        margin: 0 12px;

        label {
          font-size: $fz16px;
          color: $color_level2;
        }
      }
    }

    .date {
      font-size: $fz16px;
      color: $color_level2;
    }
  }

  .insurance_list {
    width: 702px;
    margin-bottom: 0;
  }

  .insurance {
    height: 110px;
    margin-bottom: 10px !important;
    border: 1px solid $line_color3;
    border-radius: 8px;

    &:hover::before {
      display: none;
    }

    .info {
      position: relative;
      width: 460px;
      padding: 0px 30px 0;
      border-right: 1px solid $line_color3;

      .name {
        margin-bottom: 15px;
      }

      .btn_edit {
        position: absolute;
        right: 25px;
        bottom: 27px;
      }
    }

    .payment {
      width: 240px;
      padding: 0px 30px 0;
    }
  }

  .contract_scroll {
    height: 515px;
    margin: 0 -15px 0px 0;
  }

  .btn_area {
    padding-top: 20px;
    border-top: 1px solid #e0e4ea;
  }
}

/* tab_wrap */
.tab_wrap {
  .tab_list {
    overflow: hidden;

    li {
      float: left;
      width: 50%;

      .tab {
        display: block;
        height: 44px;
        border: 1px solid $line_color3;
        background: #fafafa;
        font-size: $fz16px;
        line-height: 44px;
        text-align: center;
        color: $color_level2;
      }

      &.on .tab {
        border: 1px solid #3c444d;
        background: #3c444d;
        color: #fff;
      }
    }
  }
}

/* basic_type */
.basic_type {
  thead {
    th {
      padding: 9px 10px;
      border-bottom: 1px solid $line_color1;
      font-size: $fz14px;
      text-align: center;
      color: $color_level2;
    }
  }

  tbody {
    th {
      padding: 9px 10px;
      border-bottom: 1px solid #ededf4;
      font-size: $fz14px;
      font-weight: 500;
      letter-spacing: -0.05em;
      color: $color_level4;
    }

    td {
      padding: 9px 10px;
      border-bottom: 1px solid #ededf4;
      font-size: $fz14px;
      letter-spacing: -0.05em;
      color: $color_level4;
    }
  }
}

/* btn_circle */
.btn_circle {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  text-indent: -9999px;
  background-color: #f0f3f8;
  background-size: 100%;
  background-position: 0 0;

  > span {
    display: inline-block;
  }

  &.on {
    border: none;
    background-color: #ffe4e3;
  }

  &.like {
    background-image: url(../images/gu.renew.common/icon_like_off.png);
  }

  &.like.on {
    background-image: url(../images/gu.renew.common/icon_like_on.png);
  }

  &.analysis {
    background-image: url(../images/gu.renew.common/icon_analysis_off.png);
  }

  &.analysis.on {
    background-image: url(../images/gu.renew.common/icon_analysis_on.png);
  }

  &.agree {
    background-image: url(../images/gu.renew.common/icon_agree_off.png);
  }

  &.agree.on {
    background-image: url(../images/gu.renew.common/icon_agree_on.png);
  }
}

.btn_edit {
  font-size: $fz14px;
  letter-spacing: -0.025em;
  color: $color_level2;

  &:before {
    display: inline-block;
    width: 18px;
    height: 21px;
    margin-right: 8px;
    background: url(../images/gu.renew.common/icon_edit_off.png) no-repeat 0 0;
    content: "";
    vertical-align: top;
  }

  &:hover {
    color: #01a7c4;

    &:before {
      background: url(../images/gu.renew.common/icon_edit_on.png) no-repeat 0 0;
    }
  }
}


/*팝업 컨설팅 전후 비교*/
.consulting_wrap {
  width: 700px;

  > .title {
    margin-top: 33px;
    font-size: $fz30px;
    font-weight: 300;
    line-height: $fz40px;
    text-align: center;
    letter-spacing: -2px;
    color: $color_level2;

    strong {
      font-weight: 500;
    }

    .icon {
      display: inline-block;
      height: 34px;
      transform: translate(0, 3px);
      vertical-align: top;
    }
  }

  > .text {
    margin-top: 22px;
    font-size: $fz24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
    color: $color_button_red;
  }

  .box_area {
    margin-top: 20px;
    @include clearline;
    border: 1px solid $line_color3;
    border-radius: 10px;

    .box {
      position: relative;
      float: left;
      width: 50%;
      height: 581px;
      margin: -1px 0;
      border: 2px solid transparent;
      text-align: center;

      &.after {
        border: 2px solid #3c454e;
        border-radius: 10px;
        background: #f8f8f8;
      }

      > .title {
        margin-top: 33px;
        font-size: $fz20px;
        line-height: $fz30px;
        text-align: center;
        color: $color_level2;

        .icon {
          display: inline-block;
          height: 34px;
          transform: translate(0, 3px);
          vertical-align: top;
        }
      }

      .info_grid {
        position: relative;
        width: 250px;
        margin: 25px auto 15px auto;
        padding-bottom: 48px;
        text-align: left;

        &:after {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0px;
          left: 0;
          width: 36px;
          height: 3px;
          margin: 0 auto;
          border-radius: 3px;
          background: #01a7c4;
          content: "";
        }
      }

      .graph_area {
        position: relative;
        height: 217px;

        &:after {
          display: block;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          content: "";
          opacity: 0;
        }
      }

      .info_box {
        display: table;
        margin: 25px auto 0 auto;
        padding: 18px 20px;
        border: 1px solid $line_color2;
        border-radius: 13px;
        font-size: 0;
        line-height: 1;
        text-align: center;

        li {
          display: inline-block;
          padding: 0 18px;
          line-height: 1;
          text-align: center;

          .tit {
            display: block;
            font-size: $fz16px;
          }

          .number {
            display: block;
            margin-top: 8px;
            font-size: $fz24px;
            font-weight: 700;
          }

          &.all {
            color: $color_level2;
          }

          &.no {
            color: #7c838f;
          }

          &.lack {
            color: $color_button_red;
          }

          &.good {
            color: #01a7c4;
          }
        }
      }
    }
  }
}

/*그래프*/
.consulting_list {
  width: 792px;
  margin: -5px;

  &.full {
    width: 782px;
    margin: 0;

    > li {
      float: none;
      width: 100%;
      margin-bottom: 10px;
      padding: 0;

      .item {
        height: 610px;

        > .title {
          padding-top: 45px;
          font-size: $fz30px;
        }

        .graph_area {
          height: 450px;

          &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 298px;
            height: 298px;
            border: 2px solid #b4dad7;
            border-radius: 50%;
            box-sizing: border-box;
            content: "";
            transform: translate(-50.3%, -53.4%);
          }
        }

        .bottom_info {
          right: 0;
          left: 0;
          width: 680px;
          margin: 0 auto;
          padding: 15px 0 30px 0;
          text-align: center;

          li {
            display: inline-block;
            float: none;
            margin: 0 10px;

            &.payment {
              position: absolute;
              top: 12px;
              right: 0;
              margin: 0;
            }
          }
        }

      }
    }
  }

  > li {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .item {
    position: relative;
    height: 350px;
    border-radius: 5px;
    background: #ffffff;

    > .title {
      padding-top: 20px;
      font-size: $fz20px;
      line-height: 1;
      text-align: center;
      color: $color_level2;
    }

    .graph_area {
      position: relative;
      height: 275px;

      &:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 158px;
        height: 158px;
        border: 2px solid #b4dad7;
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        transform: translate(-51%, -57%);
      }
    }

    .bottom_info {
      @include clearline;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 20px 10px 40px;
      border-top: 1px solid #eeedf5;

      li {
        float: left;
        margin-right: 22px;
        line-height: 22px;

        &:last-child {
          margin-right: 0;
        }

        &.payment {
          float: right;
          padding: 0 10px;
          border-radius: 3px;
          background: #b9ece6;
          font-size: $fz14px;
          color: #4ca399;
        }
      }
    }
  }
}

/* 진단/상세 */
.wrap.sub .content_wrap .content_area_sub .insurance_all_state{ 
  .content_scroll {
    height: 784px;
  }
}
.insurance_all_state{
  >.title{
    font-size:$fz22px;
    color:$color_level1;
    letter-spacing: -0.075em;
    text-align: center;
    margin:10px 0 20px;    
    width: 782px;
  }
  .all_state_icon{
    background: #fff;
    border-radius: 10px;   
    height: 714px;
    overflow: hidden;
    padding:33px 0 0px;
    margin-bottom: 130px;    
    width: 782px;
    .list{
      @include clearline();

      >li{
        float:left;
        width: 159px;
        text-align: center;
        margin:0 18px;
        li{
          margin-bottom: 10px;
        }
        .sort{
          margin-bottom: 25px;
          &:before{
            display: block;
            content: "";
            height:76px;  
            margin-bottom: 10px;          
          }
          &.icon{
            background: url(../images/gu.renew.contents/icon_all_state_1.jpg) no-repeat 0 0;
          }
          &.icon2{
            background: url(../images/gu.renew.contents/icon_all_state_2.jpg) no-repeat 0 0;
          }
          &.icon3{
            background: url(../images/gu.renew.contents/icon_all_state_3.jpg) no-repeat 0 0;
          }
          &.icon4{
            background: url(../images/gu.renew.contents/icon_all_state_4.jpg) no-repeat 0 0;
          }
          .tit{
            font-size: $fz20px;
            color: $color_level1;
            letter-spacing: -0.075em;
          }
        }

        .btn_state{
          width: 100%;
          position: relative;
          &:hover:before {
            display: block;
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 5;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border: 2px solid #fe5855;
            border-radius: 10px;
            content: "";
            box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.12);
            transition: none;
          }
          >span{
            display: block;
            text-align: center;
            padding:20px 10px 0;
            height: 120px;
            border-radius: 15px;
            line-height: 1;
          }
          .tit{
            font-size: $fz18px;
            color: $color_level1;
            letter-spacing: -0.075em;
            display: block;
            margin-bottom: 25px;
          }
          .state{
            display: inline-block;
            font-size: $fz24px;
            font-weight: 700;
            &:before{
              display: inline-block;
              content:"";
              width: 44px;
              height: 44px;
              border-radius: 50%;
              vertical-align: top;
              margin: -10px 10px 0 0;
            }
          }
          &.lack{
            >span{
              background: #ffe4e3;
            }
            .state{
              color:#ff4858;
              &:before{
                background: url(../images/gu.renew.contents/icon_all_state_lack.png) no-repeat 0 0;
              }
            }
          }
          &.no_join{
            >span{
              background: #d0ddeb;
            }
            .state{
              color:#5d7ea2;
              &:before{
                background: url(../images/gu.renew.contents/icon_all_state_no_join.png) no-repeat 0 0;
              }
            }
          }
          &.enough{
            >span{
              background: #c4f8f2;
            }
            .state{
              color:#01a7c4;
              &:before{
                background: url(../images/gu.renew.contents/icon_all_state_enough.png) no-repeat 0 0;
              }
            }
          }
        }
      }
    }
  }
  
  .tab_type_list{ 
    position: absolute;
    top:772px;
    left:0;  
    background:#f0f3f8;    
    width:782px;
    .sort_list{
      ul{
        @include clearline();
        margin:1px 1px 0 0;
        li{
          float: left;
          width: 131px;
          margin:-1px -1px 0 0;
          position: relative;
          &.active{
            .sort{
              z-index: 5;
            }
            &:before{
              display: block;
              content: "";
              width:100%;
              height: 100%;
              background: #3c444d;
              position: absolute;
              top:0;
              left:0;
              border-radius: 3px;
            }
            .sort{
              color:#fff;
            }
          }
          .sort{
            width:100%;
            background: #fff;
            text-align: center;
            border: 1px solid $line_color3;
            vertical-align: top;
            padding:5px;
            font-size:$fz14px;
            color:$color_level2;
          }
        }
      }
    }
  }

  .state_info{
    width:782px;
    padding-top: 30px;
    .tit_area{
      position: relative;
      margin-bottom: 12px;
      .tit{
        text-align: center;
        font-size: $fz22px;
        color: $color_level1;
        .state {
          display: inline-block;
          border-radius: 15px;
          padding:0 12px;
          height: 27px;
          line-height: 27px;
          color:#fff;
          letter-spacing: -0.025em;
          font-size: $fz14px;
          vertical-align: top;
          &.lack{
            background: #fe5855;
          }
          &.enough{
            background: #01a7c4;
          }
        }
      }
      .btn_text {
        position: absolute;
        top:0;
        right: 0;
        padding: 0 10px;
        background: #fff;
      }
    }
    .state_item{
      margin-bottom: 10px;
      border-radius: 10px;
      overflow: hidden;
      &:last-child{
        margin-bottom: 0;
      }
      &.open{
        .btn_info{
          .info{
            border-bottom: 1px solid #f0f3f8;
          }
          .state{
            .txt{
              &:after{
                border-color: #fd5854;
                transform: rotate(-135deg);
              }
            }
          }
        }
      }
      .btn_info{  
        @include clearline;
        height: 130px;
        
        overflow: hidden;
        .info{
          float: left;
          width:528px;
          height: 100%;
          padding:20px 30px 0;
          background: #fff;
          .sort_tit{            
            line-height: 1;
            .tit{
              font-size: $fz20px;
              color: $color_level1;
              letter-spacing: -0.075em;
              font-weight: 500;
            }
            .count_info{
              float: right;
              font-size: $fz20px;
              color: $color_level2;
              letter-spacing: -0.075em;
              strong{
                font-size: $fz22px;
                font-weight: 600;
              }
            }
          }
          .count_bar_box {
            margin-bottom: 10px;
            padding-top: 30px;
            @include clearline;
            .bar_rail {
              position: relative;
              border-radius: 5px;
              background: #eee;

              .bar {
                position: relative;
                height: 12px;
                border-radius: 5px;
                transition:all 1.2s;
                width:0;
              }

              .percent {
                position: absolute;
                right: 0;
                bottom: 12px;
                font-weight: 600;
                text-align: center;
                font-size: $fz18px;
                letter-spacing: -0.025em;
                em{                  
                  font-weight: 600;
                }
              }
            }
            .txt_box {
              line-height: 1;
              margin-top: 10px;
              .left_txt {
                font-size: $fz16px;
                color: $color_level2;
              }

              .right_txt {
                float: right;
                font-size: $fz14px;
                color: $color_level4;
              }
            }
          }
        }
        .state{
          float: left;
          width:254px;
          height: 100%;
          padding:25px 0 0;
          text-align: center;
          .icon{
            display: block;
            width:44px;
            height:44px;
            margin:0 auto 15px;
          }
          .txt{
            display: block;
            font-size:$fz20px; 
            font-weight: 700;
            line-height: 1;
            position: relative;
            letter-spacing:-0.05em;
            strong{
              display: inline-block;
              font-size: $fz24px;              
              font-weight: 700;
              vertical-align: top;
              margin-top: -2px;
            }
            &:after{
              position: absolute;
              top:50%;
              right:30px;
              display: inline-block;
              content: "";   
              width: 11px;
              height: 11px;  
              margin-top: -8px;         
              border-right: 2px solid #3c444d;
              border-bottom: 2px solid #3c444d;
              -webkit-transition: all 0.15s ease-in-out;
              transition: all 0.15s ease-in-out;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              -webkit-transform-origin: 66% 66%;
              transform-origin: 66% 66%;
              pointer-events: none;
            }
           
          }
        }
        &.lack{
          .info{
            .percent{
              color:#ff4858;
            }
            .bar {
              background:#ff4858;
            }
          }
          .state{
            background:#ffe4e3;
            color:#ff4858;
            .icon{
              background: url(../images/gu.renew.contents/icon_all_state_lack.png) no-repeat 0 0;
            }
            .txt{
              padding:0 65px 0 10px;
              text-align: right;
            }
          }
          
        }
        &.enough{
          .info{
            .percent{
              color:#01a7c4;
            }
            .bar {
              background:#01a7c4;
            }
          }
          .state{
            background:#d2edff;
            color:#01a7c4;
            .icon{
              background: url(../images/gu.renew.contents/icon_all_state_enough.png) no-repeat 0 0;
            }
          }
          
        }        
      }
      .insurance_list2{
        display: none;
      }
    }
  }
  
}